.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*Tipografia*/
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
    url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Base*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "ralewayregular", "Helvetica", "Arial", sans-serif;
}
.page-header {
    margin: 20px 0 20px;
}
.checkbox, .radio {
    padding-left: 22px;
}
.padding-r-remover{
    padding-right: 0;
}
.padding-l-remover{
    padding-left: 0;
}
.tab-pane .page-header {
    margin: 0 0 20px;
    padding-bottom: 0;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

p {
    font-size: inherit;
}

li {
    line-height: 20px;
}

h6 {
    font-size: inherit;
    text-transform: inherit;
}
.btn-green.btn-fill {
  background-color: #6AC007;
  border-color: #6AC007;
}
.btn.btn-fill.btn-green:hover, .btn.btn-fill.btn-green:focus, .btn.btn-fill.btn-green:active, .btn.btn-fill.btn-green.active{
  background-color: #8AC007;
  border-color: #8AC007;
  color: #ffffff;
}

.btn-red.btn-fill {
  background-color: #EE2D20;
  border-color: #EE2D20;
}
.btn.btn-fill.btn-red:hover, .btn.btn-fill.btn-red:focus, .btn.btn-fill.btn-red:active, .btn.btn-fill.btn-red.active {
  background-color: #c9302c;
  border-color: #c9302c;
  color: #ffffff;
}
.media {
    border-bottom: none;
}

.header-black {
    background-color: rgba(30, 30, 30, 0.97);
    color: white;
}

/*Login*/
body.login {
    padding-top: 150px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

.login #form > div {
    margin-bottom: 25px;
}

.login .btn-neutral.btn-fill, .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
    color: #888888;
    font-weight: bold;
}

.login #form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;

}

.login .media {
    border-bottom: none;
}

.login .media-object {
    width: 134px;
    height: 126px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.login .col-sm-12.controls {
    padding-right: 0;
}

.login .login-title {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../images/cream_dust_@2X.png");
    font-family: "ralewayregular", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
}

/*Navigation and top menu*/
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.nav.nav-tabs.tabs-left .menu-lateral{
    width: 94%;
}

.time-counter{
    font-size: 34px;
    margin-bottom: 10px;
}
/*Brand*/
.navbar .brand {
    padding: 0 16px;
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.logo-container .logo{
    overflow: hidden;
    width: 120px;
    float: left;
}

.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.logo-container .logo img{
    width: 100%;
    height: 83px;
    margin-top: -3px;
}
.navbar-small .logo-container .brand{
    color: #333333;
}
ul.nav.nav-tabs.tabs-left{
    margin-top: 86px;
}
/*Dashboard*/
.ferramentas-usuario {
    position: relative;
    margin-top: 28px;
}

.ferramentas-usuario .identificacao {
    font-size: 12px;
    margin-right: 10px;
    float: left;
    text-align: right;
}

.ferramentas-usuario .identificacao span {
    display: block;
}

.ferramentas-usuario .nome {
    color: #2ca8ff;
     font-weight: bold;
}

.ferramentas-usuario .tipo {
    color: #999;
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ferramentas-usuario > a.btn {
    border: 1px solid #ddd;
    color: #949494;
    height: 36px;
    margin: 0;
    padding: 0;
}

.ferramentas-usuario .dropdown-toggle img {
    height: 34px;
    width: 34px;
    border-radius: 3px;
}

.ferramentas-usuario .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 56px;
    right: 0;
    width: 280px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ferramentas-usuario .dropdown-menu .detail {
    display: inline-block;
    margin-left: 10px;
    width: 140px;
}

.ferramentas-usuario .dropdown-menu .detail h5 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.ferramentas-usuario .dropdown-menu img {
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    vertical-align: top;
    margin: 9px;
    width: 100px;
}

.ferramentas-usuario .dropdown-menu a.edit {
    color: #999;
    font-size: 12px;
}

.dropdown-menu .logout {
    padding: 10px;
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0px 2px 3px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.navbar-icons .navbar-nav [class^="pe"] {
    font-size: 24px;
    position: relative;
}

.navbar-icons .navbar-nav p {
    font-size: 12px;
    position: relative;
}

.navbar-icons.navbar .navbar-brand {
    margin-top: inherit;
    margin-bottom: 12px;
}

.clear.logout a.btn {
    margin: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}

.nav.center {
    display: inline-block;
    left: 8px;
    right: 0;
    margin: 6px 0 0 0;
    float: none;
}

.navbar-icons .navbar-nav > li > a {
    padding: 6px 10px;
}

.navbar-inverse .navbar-collapse {
    text-align: center;
}

/*Definições de utilizador*/
.col-md-6.ct-wizard-orange .media > .pull-left {
    padding-right: 30px;
}

.alerta-user {
    font-size: 12px;
    color: rgba(255, 149, 0, 0.98);
}

/*menu lateral*/
.menu-lateral.margin-top {
    margin-top: 70px;
    width: 190px;
}

section .col-md-10 > .content {
    margin-top: 86px;
    padding: 0 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
}

section .col-md-10.agenda {
    margin-top: 86px;
    padding: 0 30px;
}

.modal-body .col-sm-4.pull-right {
    margin-top: 16px;
}

#modal-procurar .modal-dialog{
    height: 100%;
    padding: 0;
}

#modal-resumo .form-group {
    margin-bottom: 4px;
}

#adicionar-receita-despesa .form-group.col-padding{
  padding: 0 20px;
}
#modal-resumo h4.time {
    margin: 0 0 12px 0;
}

p.total-price {
    font-size: 26px;
    font-weight: 300;
    float: right;
}
p.saldo  strong{
    font-size: 26px;
}

.section-title {
    font-weight: 300;
    display: inline-block;
    border-bottom: 1px solid #CCC;
    color: #999;
}

.section-title-with-hr hr{
    clear: both;
    margin-top: -6px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.section-title-with-hr-dotted hr{
  clear: both;
  margin-top: -6px;
  margin-bottom: 13px;
  border-top: dotted;
  height: 1px;
  border-top-color: #CCC;
}

/*charts*/
section .col-md-6 h4 {
    margin: 10px 0px 10px;
    font-weight: bold;
}

.genders.widget .margin-right {
    margin-right: 20px;
}

.total.text-info {
    font-size: 16px;
    font-weight: bold;
}

g.highcharts-axis {
    display: none;
}

.notice {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: white;
    padding: 2px;
}

.total-stat {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    width: 194px;
    height: 46px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 16px;
    cursor: default;
}

.total-stat span.title.text-center {
    font-size: 10px;
}

.total-stat .duracao-consulta sub {
    font-size: 8px;
}

.total-stat i[class*="pe-7s-"] {
    font-size: 36px;
    line-height: 36px;
}

.total-stat small.subtitle {
    display: block;
    font-size: 18px;
    font-weight: bolder;
    margin: 0 0 30px;
}

.filtro-chart {
    padding-top: 16px;
}

#agend-periodo.charts {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#dist-etaria.charts {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

#consulta-chart.charts {
    width: 100%;
    height: 140px;
}

canvas#chart-area, canvas#chart-area1 {
    width: 100px;
    height: 95px;

}

/*Wizard config*/
.wizard-container {

    padding-top: 100px;
    z-index: 3;
}

.wizard-card {
    min-height: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #2ca8ff;
}

.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
    height: 100%;
}

.wizard-card .tab-content {
    min-height: 340px;
    padding: 20px 10px;
}

.wizard-card .wizard-footer {
    padding: 0 10px;
}

.wizard-card .form-control {
    height: 34px;
}

.wizard-card .disabled {
    display: none;
}

.wizard-card .wizard-header h3 {
    font-weight: 200;
    text-align: center;
}

.wizard-card > ul > li {
    text-align: center;
}

.wizard-card > ul > li a {
    border: 0 !important;
    text-transform: uppercase;
    background-color: #999999;
    color: #FFFFFF !important;
    font-size: 12px;
}

.wizard-card.ct-wizard-green > ul > li.active a {
    background-color: #05ae0e;
}

.wizard-card.ct-wizard-blue > ul > li.active a {
    background-color: #3472f7;
}

.wizard-card.ct-wizard-orange > ul > li.active a {
    background-color: #ff9500;
}

.wizard-card.ct-wizard-red > ul > li.active a {
    background-color: #ff3b30;
}

.wizard-card > ul > li > a:hover, .wizard-card > ul > li > a:focus {
    background-color: #999999;
    cursor: default;
}

.wizard-card .btn {
    text-transform: uppercase;
}

.wizard-card .nav-pills > li:first-child > a {
    border-radius: 0;
    margin: 0;
}

.wizard-card .nav-pills > li:last-child > a {
    border-radius: 0;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}

.wizard-card .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.wizard-card .choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    background-color: #999999;
    color: #FFFFFF;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .choice i {
    font-size: 30px;
    line-height: 111px;
}

.wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
    border-color: #2ca8ff;
}

.wizard-card.ct-wizard-blue .choice:hover .icon, .wizard-card.ct-wizard-blue .choice.active .icon {
    border-color: #3472f7;
}

.wizard-card.ct-wizard-green .choice:hover .icon, .wizard-card.ct-wizard-green .choice.active .icon {
    border-color: #05ae0e;
}

.wizard-card.ct-wizard-orange .choice:hover .icon, .wizard-card.ct-wizard-orange .choice.active .icon {
    border-color: #ff9500;
}

.wizard-card.ct-wizard-red .choice:hover .icon, .wizard-card.ct-wizard-red .choice.active .icon {
    border-color: #ff3b30;
}

.wizard-card .choice input[type="radio"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .btn-finish {
    display: none;
}

.wizard-card .description {
    color: #999999;
    font-size: 14px;
}

/*cards*/
.card.card-with-border .content {
    padding: 15px 15px 25px 15px;
}

.card.card-with-border .footer {
    padding-bottom: 25px;
}

.card.card-with-border:after {
    position: absolute;
    display: block;
    width: calc(100% - 44px);
    height: calc(100% - 30px);
    content: "";
    top: 5px;
    left: 21px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 5px;
}

.card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
}

.card[data-background="image"] .image, .card[data-background="color"] .image {
    border-radius: 6px;
}

.card[data-background="image"] .title, .card[data-background="color"] .title {
    font-weight: bold;
}

.card[data-background="image"] .filter, .card[data-background="color"] .filter {
    border-radius: 6px;
}

.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .footer,
.card[data-background="image"] small,
.card[data-background="image"] a, .card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .footer,
.card[data-background="color"] small,
.card[data-background="color"] a {
    color: inherit;
}

.card[data-background="image"] a:hover,
.card[data-background="image"] a:focus, .card[data-background="color"] a:hover,
.card[data-background="color"] a:focus {
    color: #FFFFFF;
}

.card[data-background="image"] .icon i, .card[data-background="color"] .icon i {
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.card[data-background="image"].card-with-border:after, .card[data-background="color"].card-with-border:after {
    border: 1px solid rgba(255, 165, 0, 1);
}

.card[data-background="image"] {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.card[data-background="image"] .filter {
    opacity: 0.55;
    filter: alpha(opacity=55.0);
}

.card[data-background="image"]:hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.card[data-color="blue"] {
    background: #4087ea;
    background: -moz-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
    /* W3C */
    background-size: 250% 250%;
}

.card[data-color="azure"] {
    background: #45c0fd;
    background: -moz-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4091ff), color-stop(100%, #45c0fd));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #4091ff 0%, #45c0fd 100%);
    /* W3C */
    background-size: 250% 250%;
}

.card[data-color="green"] {
    background: #a1eb3a;
    background: -moz-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #53A319), color-stop(100%, #a1eb3a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #53A319 0%, #a1eb3a 100%);
    /* W3C */
    background-size: 250% 250%;
}

.card[data-color="orange"] {
    background: #ffb33b;
    background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
    /* W3C */
    background-size: 250% 250%;
}

.card[data-color="red"] {
    background: #ff3b30;
    background: -moz-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #bb0502), color-stop(100%, #ff3b30));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #bb0502 0%, #ff3b30 100%);
    /* W3C */
    background-size: 250% 250%;
}

.card[data-color="black"] {
    background: #787878;
    background: -moz-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #343434), color-stop(100%, #787878));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #343434 0%, #787878 100%);
    /* W3C */
    background-size: 250% 250%;
}

.filter.filter-white {
    background-color: rgba(255, 255, 255, 0.91);
}

.filter.filter-blue {
    background: #4087ea;
    background: -moz-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
    /* W3C */
    background-size: 250% 250%;
}

.filter.filter-azure {
    background: #45c0fd;
    background: -moz-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4091ff), color-stop(100%, #45c0fd));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #4091ff 0%, #45c0fd 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #4091ff 0%, #45c0fd 100%);
    /* W3C */
    background-size: 250% 250%;
}

.filter.filter-green {
    background: #a1eb3a;
    background: -moz-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #53A319), color-stop(100%, #a1eb3a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #53A319 0%, #a1eb3a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #53A319 0%, #a1eb3a 100%);
    /* W3C */
    background-size: 250% 250%;
}

.filter.filter-orange {
    background: #ffb33b;
    background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
    /* W3C */
    background-size: 250% 250%;
}

.filter.filter-red {
    background: #ff3b30;
    background: -moz-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #bb0502), color-stop(100%, #ff3b30));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #bb0502 0%, #ff3b30 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #bb0502 0%, #ff3b30 100%);
    /* W3C */
    background-size: 250% 250%;
}

@media (min-width: 1200px) {
    .card .header {
        height: 265px;
    }

    .card[data-background="color"] .header {
        height: 230px;
    }

    .col-md-3 .card .header,
    .col-sm-3 .card .header,
    .col-xs-3 .card .header,
    .col-lg-3 .card .header {
        height: 185px;
    }
}

/*          Changes for small display      */
@media (max-width: 767px) {
    .navbar-transparent {
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }

    body {
        position: relative;
    }

    .social-line .btn {
        margin: 0 0 10px 0;
    }

    .card .header .social-line .btn {
        margin: 0;
    }
}

footer.footer-transparent {
    background-image: url('../images/footer-bg.jpg');
    margin-top: 50px;
}

/*!
 * FullCalendar v2.3.2 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2015 Adam Shaw
 */

.fc {
    direction: ltr;
    text-align: left;
}

.fc-rtl {
    text-align: right;
}

body .fc {
    /* extra precedence to overcome jqui */
    font-size: 1em;
}

html .fc,
.fc table {
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica;

}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event {
    /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
}

/* Colors
--------------------------------------------------------------------------------------------------*/
.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #ddd;
}

.fc-unthemed .fc-popover {
    background-color: #fff;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
    background: #eee;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
    color: #666;
}

.fc-unthemed .fc-today {
    background: #fcf8e3;
}

.fc-highlight {
    /* when user is selecting cells */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}

.fc-bgevent {
    /* default look for background events */
    background: rgb(143, 223, 130);
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}

.fc-nonbusiness {
    /* default look for non-business-hours areas */
    /* will inherit .fc-bgevent's styles */
    background: #d7d7d7;
}

/* Cell Styles
------------------------------------------------------------------------*/

/* <th>, usually */
.fc-widget-content {
    /* <td>, usually */
    border: 1px solid #e5e5e5;
}

.fc-widget-header {
    border-bottom: 1px solid #EEE;
    background-color: #f7f7f7;
    border-bottom-width: 1px;
    border-color: #cdcdcd;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.fc-state-highlight {
    /* <td> today cell */
    /* TODO: add .fc-today to <th> */
    /* background: #fcf8e3; */
}

.fc-state-highlight > div > div.fc-day-number {
    background-color: #ff3b30;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 4px;
}

.fc-cell-overlay {
    /* semi-transparent rectangle while dragging */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}

/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/

.fc-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;

    /* don't allow browser text-selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/

.fc-icon:after {
    position: relative;
    margin: 0 -1em; /* ensures character will be centered, regardless of width */
}

.fc-icon-left-single-arrow:after {
    content: "\02039";
    font-weight: bold;
    font-size: 200%;
    top: -7%;
    left: 3%;
}

.fc-icon-right-single-arrow:after {
    content: "\0203A";
    font-weight: bold;
    font-size: 200%;
    top: -7%;
    left: -3%;
}

.fc-icon-left-double-arrow:after {
    content: "\000AB";
    font-size: 160%;
    top: -7%;
}

.fc-icon-right-double-arrow:after {
    content: "\000BB";
    font-size: 160%;
    top: -7%;
}

.fc-icon-left-triangle:after {
    content: "\25C4";
    font-size: 125%;
    top: 3%;
    left: -2%;
}

.fc-icon-right-triangle:after {
    content: "\25BA";
    font-size: 125%;
    top: 3%;
    left: 2%;
}

.fc-icon-down-triangle:after {
    content: "\25BC";
    font-size: 125%;
    top: 2%;
}

.fc-icon-x:after {
    content: "\000D7";
    font-size: 200%;
    top: 6%;
}

/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/

.fc button {
    /* force height to include the border and padding */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* dimensions */
    margin: 0;
    height: 2.1em;
    padding: 0 .6em;

    /* text & cursor */
    font-size: 1em; /* normalize */
    white-space: nowrap;
    cursor: pointer;
}

/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

.fc-state-default {
    /* non-theme */
    border: 1px solid;
}

.fc-state-default.fc-corner-left {
    /* non-theme */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
    /* non-theme */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* icons in buttons */

.fc button .fc-icon {
    /* non-theme */
    position: relative;
    top: -0.05em; /* seems to be a good adjustment across browsers */
    margin: 0 .2em;
    vertical-align: middle;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
    border-color: #ff3b30;
    color: #ff3b30;
    background-color: white;
}

.fc-button-month.fc-state-default, .fc-button-agendaWeek.fc-state-default, .fc-button-agendaDay.fc-state-default {
    min-width: 67px;
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #FFE3E3;
}

.fc-state-hover {
    color: #ff3b30;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
    background-color: #ff3b30;
    background-image: none;
    outline: 0;
    color: #FFFFFF;
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    background-color: #FFE3E3;
    filter: alpha(opacity=65);
    box-shadow: none;
    border: 1px solid #FFE3E3;
    color: #ff3b30;
}

/* Buttons Groups
--------------------------------------------------------------------------------------------------*/

.fc-button-group {
    display: inline-block;
}

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/

.fc .fc-button-group > * {
    /* extra precedence b/c buttons have margin set to zero */
    float: left;
    margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child {
    /* same */
    margin-left: 0;
}

/* Popover
--------------------------------------------------------------------------------------------------*/

.fc-popover {
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

.fc-popover .fc-header {
    /* TODO: be more consistent with fc-head/fc-body */
    padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
    margin: 0 2px;
}

.fc-popover .fc-header .fc-close {
    cursor: pointer;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
    float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
    float: right;
}

/* unthemed */

.fc-unthemed .fc-popover {
    border-width: 1px;
    border-style: solid;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
    font-size: .9em;
    margin-top: 2px;
}

/* jqui themed */

.fc-popover > .ui-widget-header + .ui-widget-content {
    border-top: 0; /* where they meet, let the header have the border */
}

/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/

.fc-divider {
    border-style: solid;
    border-width: 1px;
}

hr.fc-divider {
    height: 0;
    margin: 0;
    padding: 0 0 2px; /* height is unreliable across browsers, so use padding */
    border-width: 1px 0;
}

.fc-clear {
    clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
    /* these element should always cling to top-left/right corners */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fc-bg {
    bottom: 0; /* strech bg to bottom edge */
}

.fc-bg table {
    height: 100%; /* strech bg to bottom edge */
}

/* Tables
--------------------------------------------------------------------------------------------------*/

.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em; /* normalize cross-browser */
}

.fc th {
    text-align: center;
}

.fc td.fc-today {
    border-style: double; /* overcome neighboring borders */
}

/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/

.fc .fc-row {
    /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
    /* no visible border by default. but make available if need be (scrollbar width compensation) */
    border-style: solid;
    border-width: 0;
}

.fc-row table {
    /* don't put left/right border on anything within a fake row.
         the outer tbody will worry about this */
    border-left: 0 hidden transparent;
    border-right: 0 hidden transparent;

    /* no bottom borders on rows */
    border-bottom: 0 hidden transparent;
}

.fc-row:first-child table {
    border-top: 0 hidden transparent; /* no top border on first row */
}

/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/

.fc-row {
    position: relative;
}

.fc-row .fc-bg {
    z-index: 1;
}

/* highlighting cells & background event skeleton */

.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
    bottom: 0; /* stretch skeleton to bottom of row */
}

.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
    height: 100%; /* stretch skeleton to bottom of row */
}

.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
    border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
    z-index: 2;

}

.fc-row .fc-highlight-skeleton {
    z-index: 3;
}

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/

.fc-row .fc-content-skeleton {
    position: relative;
    z-index: 4;
    padding-bottom: 2px; /* matches the space above the events */
}

.fc-row .fc-helper-skeleton {
    z-index: 5;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
    /* see-through to the background below */
    background: none; /* in case <td>s are globally styled */
    border-color: transparent;

    /* don't put a border between events and/or the day number */
    border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td, /* cells with events inside (so NOT the day number cell) */
.fc-row .fc-helper-skeleton tbody td {
    /* don't put a border between event cells */
    border-top: 0;
}

/* Scrolling Container
--------------------------------------------------------------------------------------------------*/

.fc-scroller {
    /* this class goes on elements for guaranteed vertical scrollbars */
    overflow-y: scroll;
    overflow-x: hidden;
}

.fc-scroller > * {
    /* we expect an immediate inner element */
    position: relative; /* re-scope all positions */
    width: 100%; /* hack to force re-sizing this inner element when scrollbars appear/disappear */
    overflow: hidden; /* don't let negative margins or absolute positioning create further scroll */
}

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/

.fc-event {
    position: relative; /* for resize handle and other inner positioning */
    display: block; /* make the <a> tag block */
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    font-weight: normal; /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #fff; /* default TEXT color */
    text-decoration: none; /* if <a> has an href */
}

.fc-event[href],
.fc-event.fc-draggable {
    cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed, /* causes a "warning" cursor. applied on body */
.fc-not-allowed .fc-event {
    /* to override an event's custom cursor */
    cursor: not-allowed;
}

.fc-event .fc-bg {
    /* the generic .fc-bg already does position */
    z-index: 1;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25); /* for IE */
}

.fc-event .fc-content {
    position: relative;
    z-index: 2;
}

.fc-event .fc-resizer {
    position: absolute;
    z-index: 3;
}

/* Horizontal Events
--------------------------------------------------------------------------------------------------*/

/* events that are continuing to/from another week. kill rounded corners and butt up against edge */

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
    margin-left: 0;
    border-left-width: 0;
    padding-left: 1px; /* replace the border with padding */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
    margin-right: 0;
    border-right-width: 0;
    padding-right: 1px; /* replace the border with padding */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* resizer */

.fc-h-event .fc-resizer {
    /* positioned it to overcome the event's borders */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    width: 5px;
}

/* left resizer  */
.fc-ltr .fc-h-event .fc-start-resizer,
.fc-ltr .fc-h-event .fc-start-resizer:before,
.fc-ltr .fc-h-event .fc-start-resizer:after,
.fc-rtl .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-end-resizer:before,
.fc-rtl .fc-h-event .fc-end-resizer:after {
    right: auto; /* ignore the right and only use the left */
    cursor: w-resize;
}

/* right resizer */
.fc-ltr .fc-h-event .fc-end-resizer,
.fc-ltr .fc-h-event .fc-end-resizer:before,
.fc-ltr .fc-h-event .fc-end-resizer:after,
.fc-rtl .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-start-resizer:before,
.fc-rtl .fc-h-event .fc-start-resizer:after {
    left: auto; /* ignore the left and only use the right */
    cursor: e-resize;
}

/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

.fc-day-grid-event {
    margin: 1px 2px 0; /* spacing between events and edges */
    padding: 0 1px;
}

.fc-day-grid-event .fc-content {
    /* force events to be one-line tall */
    white-space: nowrap;
    overflow: hidden;
}

.fc-day-grid-event .fc-time {
    font-weight: bold;
}

.fc-day-grid-event .fc-resizer {
    /* enlarge the default hit area */
    left: -3px;
    right: -3px;
    width: 7px;
}

/* Event Limiting
--------------------------------------------------------------------------------------------------*/

/* "more" link that represents hidden events */

a.fc-more {
    margin: 1px 3px;
    font-size: .85em;
    cursor: pointer;
    text-decoration: none;
}

a.fc-more:hover {
    text-decoration: underline;
}

.fc-limited {
    /* rows and cells that are hidden because of a "more" link */
    display: none;
}

/* popover that appears when "more" link is clicked */

.fc-day-grid .fc-row {
    z-index: 1; /* make the "more" popover one higher than this */
}

.fc-more-popover {
    z-index: 2;
    width: 220px;
}

.fc-more-popover .fc-event-container {
    padding: 10px;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/

.fc-toolbar {
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

.fc-toolbar .fc-left {
    float: left;
    text-align: left;
    white-space: nowrap;
    padding: 15px 10px 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}

.fc-toolbar .fc-right {
    width: 25%;
    float: right;
    text-align: right;
    white-space: nowrap;
    padding: 15px 10px 0px;
}

.fc-toolbar .fc-right button.fc-button:hover {
    color: #333333;
    background-color: #FFE3E3;
}

.fc-toolbar .fc-right button.fc-button:focus {
    outline: 0;
    background-color: #ff3b30;
    background-image: none;
    color: #FFFFFF;
}

.fc-toolbar .fc-center {
    white-space: nowrap;
    padding: 15px 10px 0px;
    vertical-align: top;
    margin-top: -5px;
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * {
    /* extra precedence to override button border margins */
    margin-left: .75em;
}

/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child {
    /* extra precedence to override button border margins */
    margin-left: 0;
}

/* title text */

.fc-toolbar h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
}

/* button layering (for border precedence) */

.fc-toolbar button {
    position: relative;
    margin-bottom: 1em;
    vertical-align: top;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
    z-index: 2;
}

.fc-toolbar .fc-state-down {
    z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
    z-index: 4;
}

.fc-toolbar button:focus {
    z-index: 5;
}

/* View Structure
--------------------------------------------------------------------------------------------------*/

/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fc-view, /* scope positioning and z-index's for everything within the view */
.fc-view > table {
    /* so dragged elements can be above the view's main element */
    position: relative;
    z-index: 1;
}

/* BasicView
--------------------------------------------------------------------------------------------------*/

/* day row structure */

.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
    /* we are sure there are no day numbers in these views, so... */
    padding-top: 1px; /* add a pixel to make sure there are 2px padding above events */
    padding-bottom: 1em; /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-basic-view .fc-body .fc-row {
    min-height: 4em; /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */

.fc-row.fc-rigid {
    overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* week and day number styling */

.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
    padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fc-basic-view .fc-week-number {
    text-align: center;
}

.fc-basic-view .fc-week-number span {
    /* work around the way we do column resizing and ensure a minimum width */
    display: inline-block;
    min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: right;
}

.fc-rtl .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-day-number.fc-other-month {
    opacity: 0.3;
    filter: alpha(opacity=30); /* for IE */
    /* opacity with small font can sometimes look too faded
         might want to set the 'color' property instead
         making day-numbers bold also fixes the problem */
}

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/

.fc-agenda-view .fc-day-grid {
    position: relative;
    z-index: 2; /* so the "more.." popover will be over the time grid */
}

.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 3em; /* all-day section will never get shorter than this */
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-top: 1px; /* add a pixel to make sure there are 2px padding above events */
    padding-bottom: 1em; /* give space underneath events for clicking/selecting days */
}

/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/

.fc .fc-axis {
    /* .fc to overcome default cell styles */
    vertical-align: middle;
    padding: 0 4px;
    white-space: nowrap;
}

.fc-ltr .fc-axis {
    text-align: right;
}

.fc-rtl .fc-axis {
    text-align: left;
}

.ui-widget td.fc-axis {
    font-weight: normal; /* overcome jqui theme making it bold */
}

/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/

.fc-time-grid-container, /* so scroll container's z-index is below all-day */
.fc-time-grid {
    /* so slats/bg/content/etc positions get scoped within here */
    position: relative;
    z-index: 1;
}

.fc-time-grid {
    min-height: 100%; /* so if height setting is 'auto', .fc-bg stretches to fill height */
}

.fc-time-grid table {
    /* don't put outer borders on slats/bg/content/etc */
    border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
    z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr {
    /* the <hr> AgendaView injects when grid is shorter than scroller */
    position: relative;
    z-index: 2;
}

.fc-time-grid .fc-bgevent-skeleton,
.fc-time-grid .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fc-time-grid .fc-bgevent-skeleton {
    z-index: 3;
}

.fc-time-grid .fc-highlight-skeleton {
    z-index: 4;
}

.fc-time-grid .fc-content-skeleton {
    z-index: 5;
}

.fc-time-grid .fc-helper-skeleton {
    z-index: 6;
}

/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-slats td {
    height: 1.5em;
    border-bottom: 0; /* each cell is responsible for its top border */
}

.fc-time-grid .fc-slats .fc-minor td {
    border-top-style: dotted;
}

.fc-time-grid .fc-slats .ui-widget-content {
    /* for jqui theme */
    background: none; /* see through to fc-bg */
}

/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-highlight-container {
    /* a div within a cell within the fc-highlight-skeleton */
    position: relative; /* scopes the left/right of the fc-highlight to be in the column */
}

.fc-time-grid .fc-highlight {
    position: absolute;
    left: 0;
    right: 0;
    /* top and bottom will be in by JS */
}

/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-event-container, /* a div within a cell within the fc-content-skeleton */
.fc-time-grid .fc-bgevent-container {
    /* a div within a cell within the fc-bgevent-skeleton */
    position: relative;
}

.fc-ltr .fc-time-grid .fc-event-container {
    /* space on the sides of events for LTR (default) */
    margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
    /* space on the sides of events for RTL */
    margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
    position: absolute;
    z-index: 1; /* scope inner z-index's */
}

.fc-time-grid .fc-bgevent {
    /* background events always span full width */
    left: 0;
    right: 0;
}

/* Generic Vertical Event
--------------------------------------------------------------------------------------------------*/

.fc-v-event.fc-not-start {
    /* events that are continuing from another day */
    /* replace space made by the top border with padding */
    border-top-width: 0;
    padding-top: 1px;

    /* remove top rounded corners */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fc-v-event.fc-not-end {
    /* replace space made by the top border with padding */
    border-bottom-width: 0;
    padding-bottom: 1px;

    /* remove bottom rounded corners */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

.fc-time-grid-event {
    overflow: hidden; /* don't let the bg flow over rounded corners */
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    padding: 0 1px;
}

.fc-time-grid-event .fc-time {
    font-size: .85em;
    white-space: nowrap;
}

/* short mode, where time and title are on the same line */

.fc-time-grid-event.fc-short .fc-content {
    /* don't wrap to second line (now that contents will be inline) */
    white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
    /* put the time and title on the same line */
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}

.fc-time-grid-event.fc-short .fc-time span {
    display: none; /* don't display the full time text... */
}

.fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-start); /* ...instead, display only the start time */
}

.fc-time-grid-event.fc-short .fc-time:after {
    content: "\000A0-\000A0"; /* seperate with a dash, wrapped in nbsp's */
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: .85em; /* make the title text the same size as the time */
    padding: 0; /* undo padding from above */
}

/* resizer */

.fc-time-grid-event .fc-resizer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    overflow: hidden;
    line-height: 8px;
    font-size: 11px;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}

.fc-time-grid-event .fc-resizer:after {
    content: "=";
}

/*datetimepicker*/
.bootstrap-datetimepicker-widget.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.bootstrap-datetimepicker-widget.dropdown-menu .btn {
    border: none;
}

.auto-expand {
    height: 29px;
    width: 30px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

input.auto-expand {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

input.auto-expand:focus {
    outline: 0;
}

input.auto-expand::-webkit-input-placeholder {
    text-align: right;
    color: red
}

input.auto-expand:-moz-placeholder {
    text-align: right;
}

.auto-expand:focus {
    width: 100px;
}

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 * version: 1.8.1
 * https://github.com/wenzhixin/bootstrap-table/
 */
.bootstrap-table .table {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse !important;
    border-radius: 1px;
}

.bootstrap-table .table,
.bootstrap-table .table > tbody > tr > th,
.bootstrap-table .table > tfoot > tr > th,
.bootstrap-table .table > thead > tr > td,
.bootstrap-table .table > tbody > tr > td,
.bootstrap-table .table > tfoot > tr > td {
    padding: 8px !important;
}

.bootstrap-table .table.table-no-bordered > thead > tr > th,
.bootstrap-table .table.table-no-bordered > tbody > tr > td {
    border-right: 2px solid transparent;
}

.fixed-table-container {
    position: relative;
    clear: both;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.fixed-table-container.table-no-bordered {
    border: 1px solid transparent;
}

.fixed-table-footer,
.fixed-table-header {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

.fixed-table-footer {
    border-top: 1px solid #dddddd;
}

.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.col-padding .fixed-table-body {
  overflow-x: visible;
  overflow-y: visible;
}

a.table-action.btn.btn-simple i.fa.fa-check-circle-o{
  font-size: 26px;
}

.fresh-table-container a.table-action.btn.btn-simple.confirmar {
  padding: 0 14px;
}

.fixed-table-container table {
    width: 100%;
}

.fixed-table-container thead th {
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #dddddd;
}

.fixed-table-container thead th:first-child {
    border-left: none;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixed-table-container thead th .sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.fixed-table-container thead th .both {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
}

.fixed-table-container thead th .asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");
}

.fixed-table-container thead th .desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");
}

.fixed-table-container th.detail {
    width: 30px;
}

.fixed-table-container tbody td {
    border-left: 1px solid #dddddd;
}

.fixed-table-container tbody tr:first-child td {
    border-top: none;
}

.fixed-table-container tbody td:first-child {
    border-left: none;
}

/* the same color with .active */
.fixed-table-container tbody .selected td {
    background-color: #f5f5f5;
}

.fixed-table-container .bs-checkbox {
    text-align: center;
}

.fixed-table-container .bs-checkbox .th-inner {
    padding: 8px 0;
}

.fixed-table-container input[type="radio"],
.fixed-table-container input[type="checkbox"] {
    margin: 0 auto !important;
}

.fixed-table-container .no-records-found {
    text-align: center;
}

.fixed-table-pagination div.pagination,
.fixed-table-pagination .pagination-detail {
    margin-top: 10px;
    margin-bottom: 10px;
}
.fixed-table-pagination .pagination-detail .dropdown-menu{
    left: 10px;
}

.fixed-table-pagination div.pagination .pagination {
    margin: 0;
}

.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    line-height: 1.428571429;
}

.fixed-table-pagination .pagination-info {
    line-height: 34px;
    margin-right: 5px;
}

.fixed-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.fixed-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0;
}

.fixed-table-pagination .page-list {
    display: inline-block;
}

.fixed-table-toolbar .columns-left {
    margin-right: 5px;
}

.fixed-table-toolbar .columns-right {
    margin-left: 5px;
}

.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
}

.fixed-table-toolbar .bars,
.fixed-table-toolbar .search,
.fixed-table-toolbar .columns {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}

.fixed-table-toolbar .search input.form-control{
  height: 30px;
}

.fixed-table-pagination li.disabled a {
    pointer-events: none;
    cursor: default;
}

.fixed-table-loading {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    text-align: center;
}

.fixed-table-body .card-view .title {
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
    text-align: left !important;
}

/* support bootstrap 2 */
.fixed-table-body thead th .th-inner {
    box-sizing: border-box;
}

.table th, .table td {
    vertical-align: middle;
    box-sizing: border-box;
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
    max-height: 300px;
    overflow: auto;
}

.fixed-table-toolbar .btn-group > .btn-group {
    display: inline-block;
    margin-left: -1px !important;
}

.fixed-table-toolbar .btn-group > .btn-group > .btn {
    border-radius: 0;
}

.fixed-table-toolbar .btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fixed-table-toolbar .btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bootstrap-table .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

/* support bootstrap 3 */
.bootstrap-table .table thead > tr > th {
    padding: 0;
    margin: 0;
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

/* calculate scrollbar width */
p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px;
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

/*……………………………………………tab styles……………………………………………………………*/
.tab-content > .tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*………………………………………………………………Form styles………………………………………………………………*/
form.form-novo-paciente .form-group{
    padding-left: 0;
}
form.form-novo-paciente .row{
    margin-left: 0;
    margin-left: 0;

}

#modal-marcPontos .col-sm-4.padding-l-remover {
    padding-top: 12px;
}

.radio-func{
    padding-top: 20px;
}

.radio + .radio {
    margin-top: 10px;
}
.datepicker {
    margin-top: 0;
}
.col-md-6 .width-override.btn-group.select {
    width: 260px;
    margin-right: -12px;
}
.width-override.btn-group.select {
    width: 260px;
    margin-right: -12px;
}
#fluxo-caixa .width-override.btn-group.select {
  width: 160px;
  margin-right: -42px;
}
.btn.guardar-form{
    margin: 8px 52px;
}
.radio-group.col-sm-6{
    padding-top: 7px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
     padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal .form-group {
     margin-right: auto;
     margin-left: auto;
}
form.form-novo-paciente .col-sm-6{
    padding-left: 0;
}
form.form-novo-paciente .col-sm-6 > .pull-right{
    margin-bottom: 20px;
}

form.form-novo-paciente .btn.btn-warning.btn-fill.margin-top{
    margin-top: 62px;
}

form.form-config-user{
    padding-top: 2px;
}

.form-group div[class^='box']{
    padding-left: 0;
}
/*bootstrap table and tables styles*/

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 14px;
  font-weight: bold;
}

.blank_row
{
  height: 44px; /* Overwrite any previous rules */
  background-color: #eaeaea;
}

#fluxo-caixa table.table-bordered{
    margin-left: -4px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
/*     General overwrite     */
.freshbt-unique-ct {
    display: block;
    padding: 10px;
    margin-top: auto;
}

.ui-slider-handle:focus,
.navbar-toggle {
    outline: 0 !important;
}
.fresh-table-container .dropdown-menu {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: block;
    z-index: 9000;
    position: absolute;
    border: none;
    background-color: rgba(23, 23, 23, 0.82);
    margin-top: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.fresh-table-container .dropdown-menu > li > a {
    padding: 8px 16px;
    color: #FFFFFF;
}

.fresh-table-container.small-table  .fixed-table-pagination {
    margin: 0;
}

.fresh-table-container.small-table   .fixed-table-container {
    margin-top: 10px;
}
.fresh-table-container .dropdown-menu > li > a img {
    margin-top: -3px;
}
.fresh-table-container .dropdown-menu > li > a:focus {
    outline: 0 !important;
}
.fresh-table-container .dropdown-menu > li:first-child > a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fresh-table-container .dropdown-menu > li:last-child > a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fresh-table-container .dropdown-menu > li > a:hover,
.fresh-table-container .dropdown-menu > li > a:focus {
    background-color: rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}
.fresh-table-container .dropdown-menu > li.active > a,
.fresh-table-container .dropdown-menu > li.active > a:hover,
.fresh-table-container .dropdown-menu > li.active > a:focus {
    background-color: rgba(0, 0, 0, 0.6);
}
.fresh-table-container .dropdown-menu:after {
    border-bottom: 11px solid rgba(23, 23, 23, 0.73);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -11px;
}
.fresh-table-container .dropup .dropdown-menu:after {
    border-top: 11px solid rgba(23, 23, 23, 0.73);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: none;
    content: "";
    display: inline-block;
    position: absolute;
    left: 12px;
    right: auto;
    top: auto;
    bottom: -11px;
}
.fresh-table-container .open .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -o-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
}

.fresh-table-container {
    background-color: #FFFFFF;
    color: #666666;
}

.fresh-table-container .btn {
    border-radius: 30px !important;
}


.fresh-table-container input[type="radio"],
.fresh-table-container input[type="checkbox"] {
    margin: 4px 5px 0 0;
}
.fresh-table-container .fixed-table-toolbar {
    border-radius: 10px 10px 0 0;
    color: #666666;
}
.fresh-table-container .fixed-table-toolbar .dropdown-menu {
    overflow: visible;
}
.fresh-table-container .fixed-table-toolbar .pull-right .btn {
    margin-right: 5px;
}
.fresh-table-container .fixed-table-toolbar .pull-left .btn {
    border-width: 2px;
}

.fresh-table-container .fixed-table-toolbar .btn{
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 10px;
}

.fresh-table-container .fixed-table-toolbar .columns label {
    padding: 4px 15px;
    padding: 4px 15px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.table-responsive {
     overflow-x: visible;
}
.fresh-table-container .fixed-table-toolbar .columns ul > li:first-child label {
    padding-top: 10px;
}
.fresh-table-container .fixed-table-toolbar .columns ul > li:last-child label {
    padding-bottom: 10px;
}
.fresh-table-container .fixed-table-toolbar:after {
    display: table;
    content: "";
    clear: both;
}
.fresh-table-container.toolbar-color-blue .fixed-table-toolbar {
    background: #4087ea;
    background: -moz-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.toolbar-color-azure .fixed-table-toolbar {
    background: #36AFEC;
    background: -moz-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D7CE7), color-stop(100%, #36AFEC));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #2D7CE7 0%, #36AFEC 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.toolbar-color-green .fixed-table-toolbar {
    background: #83CB1E;
    background: -moz-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #53A319), color-stop(100%, #83CB1E));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #53A319 0%, #83CB1E 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.toolbar-color-orange .fixed-table-toolbar {
    background: #ffb33b;
    background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.toolbar-color-red .fixed-table-toolbar {
    background: #ED362C;
    background: -moz-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #C51E1B), color-stop(100%, #ED362C));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #C51E1B 0%, #ED362C 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container .fixed-table-pagination {
    margin: 0 10px;
}
.fresh-table-container .fixed-table-pagination:after {
    display: table;
    content: "";
    clear: both;
}
.fresh-table-container .fixed-table-pagination .dropup .dropdown-menu {
    margin-top: auto;
    margin-bottom: 10px;
}
.fresh-table-container .fixed-table-pagination div.pagination,
.fresh-table-container .fixed-table-pagination .pagination-detail {
    margin-top: 15px;
    margin-bottom: 15px;
}
.fresh-table-container .bootstrap-table .table tbody > tr > td:first-child {
    padding-left: 18px !important;
}
.fresh-table-container .bootstrap-table .table thead > tr > th:first-child {
    padding-left: 10px !important;
}
.fresh-table-container .table > thead > tr > th,
.fresh-table-container .table > tbody > tr > th,
.fresh-table-container .table > tfoot > tr > th {
    border-color: #E3E3E3;
}
.fresh-table-container .table > thead > tr > td,
.fresh-table-container .table > tbody > tr > td,
.fresh-table-container .table > tfoot > tr > td {
    border-color: rgba(220, 220, 220, 0.15);
}
.fresh-table-container .table.table-striped > thead > tr > td, .fresh-table-container .table.table-striped > tbody > tr > td, .fresh-table-container .table.table-striped > tfoot > tr > td {
    border: none;
}
.fresh-table-container .pagination > li > a,
.fresh-table-container .pagination > li > span,
.fresh-table-container .pagination > li:first-child > a,
.fresh-table-container .pagination > li:first-child > span,
.fresh-table-container .pagination > li:last-child > a,
.fresh-table-container .pagination > li:last-child > span {
    border-radius: 20px;
    margin: 0 2px;
    background-color: transparent;
    min-width: 36px;
    height: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border-width: 2px;
    color: #AAAAAA;
    border-color: transparent;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.fresh-table-container .pagination > li > a:hover,
.fresh-table-container .pagination > li > span:hover,
.fresh-table-container .pagination > li:first-child > a:hover,
.fresh-table-container .pagination > li:first-child > span:hover,
.fresh-table-container .pagination > li:last-child > a:hover,
.fresh-table-container .pagination > li:last-child > span:hover {
    color: #898989;
    border-color: #36AFEC;
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container .pagination > li.active > a,
.fresh-table-container .pagination > li.active > span,
.fresh-table-container .pagination > li.active > a:hover,
.fresh-table-container .pagination > li.active > span:hover,
.fresh-table-container .pagination > li.active > a:focus,
.fresh-table-container .pagination > li.active > span:focus {
    color: #898989;
    border-color: #AAAAAA;
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .table-hover > tbody > tr:hover, .fresh-table-container[class*="toolbar-color-"] .table-hover > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:hover, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.active, .open > .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.dropdown-toggle, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:hover, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.active, .open > .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled:hover, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled:focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled.focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled:active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.disabled.active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled:hover, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled:focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled.focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled:active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:disabled.active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled], .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled]:hover, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled]:focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled].focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled]:active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn[disabled].active, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:hover, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:focus, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.focus, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn:active, fieldset[disabled] .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled:hover, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled:focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled.focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled:active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.disabled.active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled:hover, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled:focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled.focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled:active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:disabled.active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled], .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled]:hover, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled]:focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled].focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled]:active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn[disabled].active, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:hover, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:focus, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.focus, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn:active, fieldset[disabled] .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.active {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill:hover, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill:focus, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill:active, .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill.active, .open > .fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill.dropdown-toggle, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill:hover, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill:focus, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill:active, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill.active, .open > .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill.dropdown-toggle {
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn.btn-fill .caret, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar .btn .caret, .fresh-table-container[class*="toolbar-color-"] .fixed-table-toolbar .btn .caret {
    border-top-color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .form-control, .fresh-table-container[class*="toolbar-color-"] .form-control {
    border-color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .form-control:focus, .fresh-table-container[class*="toolbar-color-"] .form-control:focus {
    border-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);
}
.fresh-table-container[class*="full-color-"] .form-control::-moz-placeholder, .fresh-table-container[class*="toolbar-color-"] .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .form-control:-moz-placeholder, .fresh-table-container[class*="toolbar-color-"] .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .form-control::-webkit-input-placeholder, .fresh-table-container[class*="toolbar-color-"] .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .form-control:-ms-input-placeholder, .fresh-table-container[class*="toolbar-color-"] .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .table td a {
    color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .table td a:hover, .fresh-table-container[class*="full-color-"] .table td a:focus {
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .btn {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .btn:hover, .fresh-table-container[class*="full-color-"] .btn:focus, .fresh-table-container[class*="full-color-"] .btn:active, .fresh-table-container[class*="full-color-"] .btn.active, .open > .fresh-table-container[class*="full-color-"] .btn.dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .btn.disabled, .fresh-table-container[class*="full-color-"] .btn.disabled:hover, .fresh-table-container[class*="full-color-"] .btn.disabled:focus, .fresh-table-container[class*="full-color-"] .btn.disabled.focus, .fresh-table-container[class*="full-color-"] .btn.disabled:active, .fresh-table-container[class*="full-color-"] .btn.disabled.active, .fresh-table-container[class*="full-color-"] .btn:disabled, .fresh-table-container[class*="full-color-"] .btn:disabled:hover, .fresh-table-container[class*="full-color-"] .btn:disabled:focus, .fresh-table-container[class*="full-color-"] .btn:disabled.focus, .fresh-table-container[class*="full-color-"] .btn:disabled:active, .fresh-table-container[class*="full-color-"] .btn:disabled.active, .fresh-table-container[class*="full-color-"] .btn[disabled], .fresh-table-container[class*="full-color-"] .btn[disabled]:hover, .fresh-table-container[class*="full-color-"] .btn[disabled]:focus, .fresh-table-container[class*="full-color-"] .btn[disabled].focus, .fresh-table-container[class*="full-color-"] .btn[disabled]:active, .fresh-table-container[class*="full-color-"] .btn[disabled].active, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn:hover, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn:focus, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn.focus, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn:active, fieldset[disabled] .fresh-table-container[class*="full-color-"] .btn.active {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .btn.btn-fill {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .btn.btn-fill:hover, .fresh-table-container[class*="full-color-"] .btn.btn-fill:focus, .fresh-table-container[class*="full-color-"] .btn.btn-fill:active, .fresh-table-container[class*="full-color-"] .btn.btn-fill.active, .open > .fresh-table-container[class*="full-color-"] .btn.btn-fill.dropdown-toggle {
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .btn.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .btn .caret {
    border-top-color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .fixed-table-toolbar {
    background: none !important;
    border-color: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .fixed-table-header,
.fresh-table-container[class*="full-color-"] .fixed-table-body,
.fresh-table-container[class*="full-color-"] table {
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.15);
}
.fresh-table-container[class*="full-color-"] .table-striped > tbody > tr:nth-of-type(odd):hover {
    background-color: rgba(255, 255, 255, 0.25);
}
.fresh-table-container[class*="full-color-"] .table > thead > tr > th,
.fresh-table-container[class*="full-color-"] .table > tbody > tr > th,
.fresh-table-container[class*="full-color-"] .table > tfoot > tr > th {
    border-color: rgba(255, 255, 255, 0.15);
}
.fresh-table-container[class*="full-color-"] .fixed-table-pagination {
    color: #FFFFFF;
}
.fresh-table-container[class*="full-color-"] .pagination > li > a,
.fresh-table-container[class*="full-color-"] .pagination > li > span,
.fresh-table-container[class*="full-color-"] .pagination > li:first-child > a,
.fresh-table-container[class*="full-color-"] .pagination > li:first-child > span,
.fresh-table-container[class*="full-color-"] .pagination > li:last-child > a,
.fresh-table-container[class*="full-color-"] .pagination > li:last-child > span {
    color: rgba(255, 255, 255, 0.8);
}
.fresh-table-container[class*="full-color-"] .pagination > li > a:hover,
.fresh-table-container[class*="full-color-"] .pagination > li > span:hover,
.fresh-table-container[class*="full-color-"] .pagination > li:first-child > a:hover,
.fresh-table-container[class*="full-color-"] .pagination > li:first-child > span:hover,
.fresh-table-container[class*="full-color-"] .pagination > li:last-child > a:hover,
.fresh-table-container[class*="full-color-"] .pagination > li:last-child > span:hover {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container[class*="full-color-"] .pagination > li.active > a,
.fresh-table-container[class*="full-color-"] .pagination > li.active > span,
.fresh-table-container[class*="full-color-"] .pagination > li.active > a:hover,
.fresh-table-container[class*="full-color-"] .pagination > li.active > span:hover,
.fresh-table-container[class*="full-color-"] .pagination > li.active > a:focus,
.fresh-table-container[class*="full-color-"] .pagination > li.active > span:focus {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.fresh-table-container .fixed-table-container {
    border: none;
}
.fresh-table-container .fixed-table-container thead th {
    border-left: 0;
}

.fresh-table-container .fixed-table-container tbody td {
    border-left: 0;
}
.fresh-table-container.full-color-blue {
    background: #4087ea;
    background: -moz-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.full-color-azure {
    background: #36AFEC;
    background: -moz-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D7CE7), color-stop(100%, #36AFEC));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #2D7CE7 0%, #36AFEC 100%);
    /* W3C */
    background-size: 250% 250%;
}

.fresh-table-container.full-color-black{
    background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */
}
.fresh-table-container.full-color-green {
    background: #83CB1E;
    background: -moz-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #53A319), color-stop(100%, #83CB1E));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #53A319 0%, #83CB1E 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #53A319 0%, #83CB1E 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.full-color-orange {
    background: #ffb33b;
    background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container.full-color-red {
    background: #ED362C;
    background: -moz-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #C51E1B), color-stop(100%, #ED362C));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #C51E1B 0%, #ED362C 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #C51E1B 0%, #ED362C 100%);
    /* W3C */
    background-size: 250% 250%;
}
.fresh-table-container .table-action {
    padding: 0 3px;
}
.fresh-table-container .bootstrap-table .table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.fresh-table-container .bootstrap-table .table .radio,
.fresh-table-container .bootstrap-table .table .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 15px;
}
.fresh-table-container .bootstrap-table .table > tfoot > tr > th,
.fresh-table-container .bootstrap-table .table > thead > tr > td,
.fresh-table-container .bootstrap-table .table > tbody > tr > td,
.fresh-table-container .bootstrap-table .table > tfoot > tr > td {
    padding: 12px 8px !important;
    vertical-align: middle;
}
.fresh-table-container .bootstrap-table .table > tbody > tr {
    position: relative;
}
.fresh-table-container .bootstrap-table .table > tbody > tr:hover .td-actions .btn {
    opacity: 1;
    filter: alpha(opacity=100);
}
.fresh-table-container.full-screen-table {
    border-radius: 0;
}
.fresh-table-container.full-screen-table .fixed-table-toolbar {
    border-radius: 0;
}
.fresh-table-container .fa {
    min-width: 18px;
}
/*Grid divider*/
@media ( min-width: 768px ) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
  .grid-divider>[class*='col-'] {
    position: static;
  }
  .grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -15px;
  }
  .col-padding {
    padding: 0 15px;
  }
}

/*……………………………………Horário……………………………………………………*/
.agenda .table > thead > tr > th {
  text-align: center;
}

.agenda-time .btn{
  border: 0;
}
.agenda-time .bootstrap-datetimepicker-widget table td span {
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.agenda .table-condensed > tbody > tr > td{
  padding: 0;
}

.agenda-time .bootstrap-datetimepicker-widget a[data-action] {
  visibility: hidden;
}

.agenda .table tbody tr td:hover .bootstrap-datetimepicker-widget a[data-action] {
  visibility: visible;
}

.agenda th[scope=row]{
  width: 40px;
  font-size: 36px;
  line-height: 36px;
}

