﻿@model MedLine.Models.Consulta.Analise

@{
    var exameFisico = Model.Triagens.FirstOrDefault();
    var diagnostico = Model.AnalisesDiagnosticos.FirstOrDefault();

    var analiseExameFisico = exameFisico != null ? exameFisico : new MedLine.Models.Consulta.Triagem();
    var analiseExameLaboratorio = Model.AnalisesExamesLaboratorio.ToList();
    var analiseDiagnostico = diagnostico != null ? diagnostico : new MedLine.Models.Consulta.AnaliseDiagnostico();
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header header-black">
            <button type="button" class="close btn" data-dismiss="modal" aria-hidden="true">
                <i class="pe-7s-close"></i>
            </button>
            <h6 class="modal-title" id="myModalLabel">Prescrição Médica</h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <h4 class="text-center time">
                    Duração
                    <small class="text-muted">
                        @(MedLine.Services.ComumServices.VitaServices.FromDatesToHoursFormat(Model.DataInicio, Model.DataFim))s
                    </small>
                </h4>
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            Queixa
                            Principal:
                        </label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @Html.DisplayFor(model => model.QueixaPrincipal)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Observações:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @Html.DisplayFor(model => model.Destalhes)
                            </p>
                        </div>
                    </div>
                    <div class="section-title-with-hr">
                        <h4 class="text-center">Análise</h4>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Problemas
                            Cardiacos:
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.ProblemasCardiacos)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Problemas
                            Respiratórios:
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.ProblemasRespiratorios) </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Problemas
                            Gastríticos:
                        </label>

                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.ProblemasGastricos) </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Problemas
                            Renais:
                        </label>

                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.ProblemasRenais) </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Alergias:</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Alergias)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Hepatite:</label>

                                <div class="col-sm-2">
                                    <p class="form-control-static">@(Model.Hepatite ? "Sim" : "Não")</p>
                                </div>
                                <label class="control-label col-sm-2">Gravidez:</label>

                                <div class="col-sm-2">
                                    <p class="form-control-static">@(Model.Gravidez ? "Sim" : "Não")</p>
                                </div>
                                <label class="control-label col-sm-2">Diabetes:</label>

                                <div class="col-sm-2">
                                    <p class="form-control-static">@(Model.Diabetes ? "Sim" : "Não")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Uso de
                            Medicamentos:
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control-static">@Html.DisplayFor(model => model.UsoMedicamentos)</p>
                        </div>
                    </div>

                    <div class="section-title-with-hr">
                        <h4 class="text-center">Exame Físico</h4>
                        <hr />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Altura:</label>
                                <div class="col-sm-1">
                                    <p class="form-control-static">@(analiseExameFisico.Altura)m</p>
                                </div>
                                <label class="control-label col-sm-2">Peso:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">@(analiseExameFisico.Peso) Kg</p>
                                </div>
                                <label class="control-label col-sm-3">
                                    Frequência
                                    Card.:
                                </label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">@(analiseExameFisico.FrequenciaCardiaca)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-title-with-hr">
                        <h4 class="text-center">Exames de Laboratório</h4>
                        <hr />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            @if (analiseExameLaboratorio.Count() > 0)
                            {
                                foreach (var item in analiseExameLaboratorio)
                                {
                                    <fieldset>
                                        <div class="form-group border-gray">

                                            <label class="control-label col-sm-2">Serviço</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static">@item.AreaActuacao.Nome</p>
                                            </div>
                                            <label class="control-label col-sm-2">Resultado</label>
                                            <div class="col-sm-3">
                                                <p class="form-control-static">@item.Resultado</p>
                                            </div>
                                            <label class="control-label col-sm-2">Estado</label>
                                            <div class="col-sm-3">
                                                <p class="form-control-static">@item.EstadoAnaliseExame.ToString()</p>
                                            </div>
                                            <label class="control-label col-sm-2">Observacões</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static">@item.Observacoes</p>
                                            </div>
                                            <h6>Ficheiros Anexados</h6>
                                            <table class="table tabela-sem-opcoes">
                                                <thead>
                                                    <tr>
                                                        <th data-field="id">Descrição</th>
                                                        <th>Opções</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var file in item.Ficheiros)
                                                {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => file.Ficheiro.Descricao)</td>
                                                    <td>
                                                        <a data-id="@Url.Action("Download", new { id=file.FicheiroId })" data-tooltip="tooltip" title="Baixar ficheiro" class="table-action btn btn-simple btn-danger" @*data-toggle="modal" data-target="#modal-atendimento"*@ data-original-title="Baixar @file.Ficheiro.Descricao"><i class="fa fa-download"></i></a>
                                                    </td>
                                                </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                    <br />
                                }
                            }
                        </div>
                    </div>

                    <div class="section-title-with-hr">
                        <h4 class="text-center">Diagnóstico</h4>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Diagnóstico:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @(analiseDiagnostico.Diagnostico)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Observações:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @(analiseDiagnostico.Detalhes)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer footer-black">
            <button type="button" class="btn btn-default btn-sm btn-fill"
                    data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-sm btn-fill btn-info">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </div>
</div>