﻿@model MedLine.Models.Consulta.Analise
@{
    var analisePrescricoesMedicas = Model.AnalisesPrescricoesMedicas.ToList();
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header header-black">

            <button type="button" class="close btn" data-dismiss="modal"
                    aria-hidden="true">
                <i class="pe-7s-close"></i>
            </button>

            <h6 class="modal-title" id="myModalLabel1">Resumo atendimento</h6>

        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-horizontal" role="form">
                    <div class="section-title-with-hr">
                        <h4 class="text-center">Receita</h4>
                        <hr />
                    </div>
                    @if (analisePrescricoesMedicas.Count() > 0)
                    {
                        foreach (var item in analisePrescricoesMedicas)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-5">
                                    <span class="remedio">@item.Farmaco @item.Quantidade x @item.PrescricaoMedicaDosagem.Nome - </span>
                                    <span class="qtd">@item.ViaAdministracao.Nome</span>
                                </label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">
                                        @item.Posologia
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer footer-black">
            <button type="button" class="btn btn-default btn-sm btn-fill" data-dismiss="modal">
                Cancelar
            </button>

            <button type="button" class="btn btn-sm btn-fill btn-info">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </div>
</div>
