﻿@model MedLine.Models.Pacientes.Paciente

@{
    ViewBag.Title = "Create";
}

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content clear">
        <div class="row">
            <h2 class="page-header">Novo Paciente <span id="">#@ViewBag.Codigo</span></h2>
            <h5 class="section-title">Dados Pessoais</h5>
            @using (Html.BeginForm("Create", "Pacientes", FormMethod.Post, new { @class = "form-novo-paciente" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-sm-6 form-group-sm">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6 form-group-sm">
                    @Html.LabelFor(model => model.TipoPaciente, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.TipoPaciente, "Seleccionar", htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                    @Html.ValidationMessageFor(model => model.TipoPaciente, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    <label for="DataNascimento" class="control-label">Data nascimento:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "datepicker form-control" } })
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    <label for="SexoId" class="control-label">Sexo:</label><br>
                    @Html.DropDownList("SexoId", null, htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                    @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    <label for="Telefone" class="control-label">Telefone:</label>
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    <label for="Email" class="control-label">E-mail:</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-12 form-group-sm">
                    <label for="Endereco" class="control-label">Endereço:</label>
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
                <div class="row"><h5 class="section-title">Informações Complementares</h5></div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.SeguradoraId, "Seguradora", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("SeguradoraId", null, "Seleccionar", htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                        @Html.ValidationMessageFor(model => model.SeguradoraId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.Apolice, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Apolice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apolice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.DataValidade, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.DataValidade, new { htmlAttributes = new { @class = "datepicker form-control", id = "DataValidade" } })
                        @Html.ValidationMessageFor(model => model.DataValidade, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                    </div>

                    <div class="clearfix"></div>
                    <div class="row"><h5 class="section-title">Informações Complementares</h5></div>
                    <div class="form-group col-sm-6 form-group-sm">
                        @Html.LabelFor(model => model.Familiar, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Familiar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Familiar, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.FamiliarTelefone, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.FamiliarTelefone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FamiliarTelefone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-group-sm col-sm-3">
                        @Html.LabelFor(model => model.ParentescoId, "Parentesco", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("ParentescoId", null, "Seleccionar", htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                        @Html.ValidationMessageFor(model => model.ParentescoId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-group-sm col-sm-2">
                        @Html.LabelFor(model => model.SangueId, "Sangue", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("SangueId", null, "Seleccionar", htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                        @Html.ValidationMessageFor(model => model.SangueId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control", placeholder = "Insira o texto aqui", rows = "3" })
                        @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                        @*<label for="eventdescription">Observações</label>
                            <textarea id="eventdescription" class="form-control" placeholder="Insira o texto aqui" rows="3"></textarea>*@
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-6 pull-right">
                            <button type="submit" class="btn btn-warning btn-fill btn-sm pull-right" id="submitButton">
                                Guardar
                            </button>
                        </div>
                    </div>
            }

        </div>
    </div>
</div>
