﻿@model MedLine.Models.Pacientes.Paciente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parentesco.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parentesco.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguradora.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguradora.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sangue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sangue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familiar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familiar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamiliarTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamiliarTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apolice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apolice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
