﻿@using MedLine.Models.Identity
@model MedLine.Models.Pacientes.Paciente

@{
    ViewBag.Title = "Details";
}

<div class="col-md-2">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#geral" data-toggle="tab">Geral</a></li>
        <li><a href="#agendamentos" data-toggle="tab">Agendamentos</a></li>
        <li><a href="#exames" data-toggle="tab">Exames</a></li>
        @*<li><a href="#internamentos" data-toggle="tab">Internamentos</a></li>*@
    </ul>
</div>

<div class="col-md-10">
    <!-- Tab panes -->
    <div class="content clear">
        <div class="tab-content">
            <div class="tab-pane active" id="geral">
                <div class="row">
                    <h2 class="page-header">Paciente <span class="id">#@Model.Codigo</span></h2>
                    <h4 class="section-title">Dados Pessoais</h4>
                    <form action="" class="form-novo-paciente">
                        <div class="form-group col-sm-6 form-group-sm">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        </div>
                        <div class="form-group col-sm-6 form-group-sm">
                            @Html.LabelFor(model => model.TipoPaciente, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.TipoPaciente, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        </div>
                        <div class="form-group form-group-sm col-sm-3">
                            <label for="DataNascimento" class="control-label">Data nascimento:</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled", @Value = Model.DataNascimento.ToString("dd-MM-yyyy") } })
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm col-sm-3">
                            <label for="SexoId" class="control-label">Sexo:</label><br>
                            @Html.EditorFor(model => model.Sexo.Nome, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            <label for="Telefone" class="control-label">Telefone:</label>
                            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            <label for="Email" class="control-label">E-mail:</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-12 form-group-sm">
                            <label for="Endereco" class="control-label">Endereço:</label>
                            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"><h5 class="section-title">Informações Complementares</h5></div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.SeguradoraId, "Seguradora", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Seguradora.Nome, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.SeguradoraId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.Apolice, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Apolice, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Apolice, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.DataValidade, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.DataValidade, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.DataValidade, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>
                        <div class="row"><h5 class="section-title">Informações Complementares</h5></div>
                        <div class="form-group col-sm-6 form-group-sm">
                            @Html.LabelFor(model => model.Familiar, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Familiar, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Familiar, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.FamiliarTelefone, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.FamiliarTelefone, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.FamiliarTelefone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-sm col-sm-3">
                            @Html.LabelFor(model => model.ParentescoId, "Parentesco", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Parentesco.Nome, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.ParentescoId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-sm col-sm-2">
                            @Html.LabelFor(model => model.SangueId, "Sangue", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Sangue.Nome, new { htmlAttributes = new { @class = "datepicker form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.SangueId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control", placeholder = "Insira o texto aqui", rows = "3", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-fill btn-info btn-sm">
                                    <i class="fa fa-print"></i>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <a href="/Paciente/Delete/@Model.Id" class class="btn btn-danger btn-sm btn-fill">
                                        Apagar
                                    </a>
                                    <a href="/Paciente/Edit/@Model.Id" class="btn btn-warning btn-sm btn-fill">
                                        Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="agendamentos">
                <div class="row">
                    <h2 class="page-header">Paciente <span class="id">#@Model.Codigo</span></h2>
                    <h4 class="section-title">
                        Histórico
                    </h4>

                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <table class="table tabela-sem-opcoes">
                                <thead>
                                    <tr>
                                        <th data-field="id">Cód.</th>
                                        <th data-field="profissional de saude">Consultado por</th>
                                        <th data-field="tipo agendamento">Tipo agendamento</th>
                                        <th data-field="area">Área</th>
                                        <th data-field="data">Data Hora</th>
                                        <th data-field="hora">Hora</th>
                                        <th data-field="estado">Estado</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Agendamentos)//.Where(x => x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Finalizada)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Funcionario.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.TipoAgendamento.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.Nome)</td>
                                            <td>@(item.DataConsulta.ToString("dd-MM-yyyy"))</td>
                                            <td>@(item.DataConsulta.ToString("HH:mm"))</td>
                                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                            <td>
                                                <a class="table-action btn btn-simple btn-info" data-toggle="popover" data-placement="top" title="" data-content="@item.Observacoes" data-original-title="Observações"><i class="fa fa-info-circle"></i></a>
                                                <a data-id="@item.Id" data-tooltip="tooltip" title="" class="table-action btn btn-simple btn-danger btnAtendimento" @*data-toggle="modal" data-target="#modal-atendimento"*@ data-original-title="Atendimento"><i class="fa fa-heartbeat"></i></a>
                                                <a data-id="@item.Id" data-tooltip="tooltip" title="" class="table-action btn btn-simple btnReceituario" href="#" @*data-toggle="modal" data-target="#modal-resumo-atendimento"*@ data-original-title="Resumo"><i class="fa fa-file-text"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h4 class="section-title">
                        Por realizar
                    </h4>
                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <table class="table tabela-sem-opcoes">
                                <thead>
                                    <tr>
                                        <th data-field="id">Cód.</th>
                                        <th data-field="profissional de saude">Consultado por</th>
                                        <th data-field="tipo agendamento">Tipo agendamento</th>
                                        <th data-field="area">Área</th>
                                        <th data-field="data">Data Hora</th>
                                        <th data-field="hora">Hora</th>
                                        <th data-field="estado">Estado</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Agendamentos.OrderBy(x => x.DataConsulta).Where(x => x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Agendado ||
              x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Confirmado ||
              x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Consulta))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Funcionario.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.TipoAgendamento.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.Nome)</td>
                                            <td>@(item.DataConsulta.ToString("dd-MM-yyyy"))</td>
                                            <td>@(item.DataConsulta.ToString("HH:mm"))</td>
                                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                            <td>
                                                <a class="table-action btn btn-simple btn-info" data-toggle="popover" data-placement="top" title="" data-content="@item.Observacoes" data-original-title="Observações"><i class="fa fa-info-circle"></i></a>
                                                <a data-tooltip="tooltip" title="" class="table-action btn btn-simple btn-danger" href="@Url.Action("NovoAtendimento", "Consulta", new { agendamentoId = item.Id })" data-original-title="Novo atendimento"><i class="fa fa-stethoscope"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="exames">
                <div class="row">
                    <h2 class="page-header">Paciente <span class="id">#@Model.Codigo</span></h2>
                    <div class="section-title">
                        <h4 class="text-center">Histórico</h4>
                    </div>
                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <table class="table tabela-sem-opcoes">
                                <thead>
                                    <tr>
                                        <th data-field="id">Cód.</th>
                                        @*<th data-field="Cod agendamento">Cód. Agendamento</th>*@
                                        <th data-field="descricao">Descrição</th>
                                        <th data-field="resultado">Resultado</th>
                                        <th data-field="data">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        AppDbContext db = new AppDbContext();
                                    }


                                   @foreach (var item in db.AnalisesExames.Where(t => t.PacienteId == Model.Id))
                                   {
                                    <tr>
                                        <td>@item.Id</td>
                                        @*<td>@item.Analise.Agendamento.Codigo</td>*@
                                        <td>@item.AreaActuacao.Nome</td>
                                        <td>@item.Resultado</td>
                                        <td>@item.DataRegisto</td>
                                    </tr>

                                   }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Modal Atendimento-->
            @*<div style="display:none" id="myModal"></div>*@
            <div class="modal fade" id="modal-atendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>

            <!-- Modal Resumo Atendimento-->
            <div class="modal fade" id="modal-resumo-atendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">

            </div>

        </div>
    </div>
</div>
