﻿@model IEnumerable<MedLine.Models.Pacientes.Paciente>

@{
    ViewBag.Title = "Index";
    var notifications = (List<string>)ViewBag.Notifications;
}

<div class="col-md-2">

    <div class="col-md-12">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#list" data-toggle="tab">Listagem</a></li>
        </ul>
    </div>

    <div class="menu-lateral pull-left margin-top col-md-6">
        <h3 class="title">Notificações</h3>
        <h6 class="titulo-alerta text-muted">Lista:</h6>
        <ul class="notice list-unstyled">
            <li>
                <a href="">
                    Benevides Lecontes<i class="fa fa-calendar"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">

                    <div class="row">
                        <h2 class="page-header">Pacientes</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <div id="toolbar">
                                    <a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo paciente" data-title="Novo paciente" class="btn btn-default"> Novo<i class="pe-7s-add-user"></i></a>
                                </div>
                                <table id="fresh-table" class="table " data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Codigo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayName("Sexo")
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DataNascimento)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Telefone)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TipoPaciente)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DataRegisto)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Codigo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sexo.Nome)
                                                </td>
                                                <td>
                                                    @item.DataNascimento.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Telefone)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TipoPaciente)
                                                </td>
                                                <td>
                                                    @item.DataRegisto.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    <a data-tooltip="tooltip" title="Detalhes" class="table-action btn btn-simple btn-info" href="@Url.Action("Details", new { id = item.Id })">
                                                        <i class="fa fa-bars"></i>
                                                    </a>
                                                    <a data-tooltip="tooltip" title="Editar" class="table-action btn btn-simple btn-warning" href="@Url.Action("Edit", new { id = item.Id })">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a data-tooltip="tooltip" title="Apagar" class="table-action btn btn-simple btn-danger" href="@Url.Action("Delete", new { id = item.Id })">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
