﻿@model IEnumerable<MedLine.Models.Consulta.AreaActuacao>

@{
    ViewBag.Title = "Serviço";
	var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Listagem de Serviços</h2>
<div class="col-md-2">
    <div class="col-md-12">
        <!-- required for floating -->
        <!-- Nav tabs -->
        @Html.Partial("_DefinicoesMenu")
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
<div class="content">

<!-- Tab panes -->
<div class="content">
    <div class="tab-content">
        <div class="tab-pane active" id="list">

<div class="row">
<h2 class="page-header">Index</h2>
<div class="table-responsive">
<div class="fresh-table-container">
<div id="toolbar">
<a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo Index" data-title="Novo Index" class="btn btn-default"> Novo Index</i></a>
</div>
<table  id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
<thead>
    <tr>
				        <th>
            @Html.DisplayNameFor(model => model.TipoAgendamento.Nome)
        </th>
		        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
		        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
		        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAgendamento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

