﻿@model IEnumerable<MedLine.Models.Comum.TipoDocumento>

@{
    ViewBag.Title = "Index";
    var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Listagem de tipos de documentos</h2>


<div class="col-md-2">

    <div class="col-md-12">
        <!-- required for floating -->
        <!-- Nav tabs -->
        @Html.Partial("_DefinicoesMenu")


    </div>

    <div class="menu-lateral pull-left margin-top col-md-6">
        <h3 class="title">Notificações</h3>
        <h6 class="titulo-alerta text-muted">Lista:</h6>
        <ul class="notice list-unstyled">
            <li>
                <a href="">
                    Paciente XPTO | Urgente <i class="fa fa-calendar"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">

                    <div class="row">
                        <h2 class="page-header">Tipos de documentos</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <div id="toolbar">
                                    <a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo Index" data-title="Novo " class="btn btn-default"> Novo Index</i></a>
                                </div>
                                <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nome)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
