﻿@model IEnumerable<MedLine.Models.Funcionarios.FuncionarioCategoria>

@{
    ViewBag.Title = "Index";
	var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Listagem de Index</h2>


<div class="col-md-2">

    <div class="col-md-2">
        <div class="col-md-12">
            @Html.Partial("_DefinicoesMenu")
        </div>
    </div>

	<div class="menu-lateral pull-left margin-top col-md-6">
		<h3 class="title">Notificações</h3>
		<h6 class="titulo-alerta text-muted">Lista:</h6>
		<ul class="notice list-unstyled">
				<li>
					<a href="">
						Notificação 1 <i class="fa fa-calendar"></i>
					</a>
				</li>
		</ul>
	</div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
<div class="content">

<!-- Tab panes -->
<div class="content">
    <div class="tab-content">
        <div class="tab-pane active" id="list">

<div class="row">
<h2 class="page-header">Index</h2>
<div class="table-responsive">
<div class="fresh-table-container">
<div id="toolbar">
<a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo Index" data-title="Novo Index" class="btn btn-default"> Novo Index</i></a>
</div>
<table  id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
<thead>
    <tr>
				        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
		    <a data-tooltip="tooltip" title="Detalhes" class="table-action btn btn-simple btn-info" href="@Url.Action("Details", new { id = item.Id })">
                <i class="fa fa-bars"></i>
            </a>
            <a data-tooltip="tooltip" title="Editar" class="table-action btn btn-simple btn-warning" href="@Url.Action("Edit", new { id = item.Id })">
                <i class="fa fa-edit"></i>
            </a>
            <a data-tooltip="tooltip" title="Apagar" class="table-action btn btn-simple btn-danger" href="@Url.Action("Delete", new { id = item.Id })">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

