﻿
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">
                    <div class="error-template">
                        <h1>
                            Ocorreu um erro:
                        </h1>
                        <h2>
                            Erro ao se comununicacar com o Reporting Services da CarySys!
                        </h2>
                        <div class="error-details">
                            
                        </div>
                        <div class="error-actions">
                            <a href="@Url.Action("Index")" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-home"></span>
                                Ir ao Início
                            </a><a href="http://www.caresys.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contactar o Suporte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>