﻿@model IEnumerable<MedLine.Models.Consulta.TipoAgendamento>

@{
    ViewBag.Title = "Index";
    var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Listagem de tipos de agendamentos</h2>

<div class="col-md-2">

    <div class="col-md-12">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li><a href="@Url.Action("Index","Definicoeos")">Dados da Empresa</a></li>
            <li><a href="@Url.Action("Index","Account")">Utilizadores</a></li>
            <li><a href="@Url.Action("Index","Sexoes")">Sexo</a></li>
            <li class="active"><a href="@Url.Action("Index","TipoAgendamentoes")">Tipo de agendamento</a></li>
            <li class="active"><a href="@Url.Action("Index","AreaActuacaos")">Serviços</a></li>
            <li><a href="@Url.Action("Index","TipoDocumentoes")">Tipo de documento</a></li>
            <li><a href="@Url.Action("Index","Parentescoes")">Parentesco</a></li>
            <li><a href="@Url.Action("Index","Seguradoras")">Seguradoras</a></li>
            <li><a href="@Url.Action("Index","Provincias")">Província</a></li>
            <li><a href="@Url.Action("Index","Municipios")">Município</a></li>
        </ul>
    </div>

</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">

                    <div class="row">
                        <h2 class="page-header">Tipos de agendamentos</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <div id="toolbar">
                                    <a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo Index" data-title="Novo Index" class="btn btn-default"> Novo</i></a>
                                </div>
                                <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ETipoAgendamento)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ETipoAgendamento)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
