﻿
@{
    ViewBag.Title = "Finanças";
    var notifications = (List<string>)ViewBag.Notifications;
}

<div class="col-md-2">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#resumo" data-toggle="tab">Resumo</a></li>
        <li><a href="#receitas" data-toggle="tab">Receitas</a></li>
        <li><a href="#despesas" data-toggle="tab">Despesas</a></li>
        <li><a href="#fluxo-caixa" data-toggle="tab">Fluxo de Caixa</a></li>
    </ul>
</div>

<div class="col-md-10">
    <!-- Tab panes -->
    <div class="content">
        <div class="tab-content">
            <div class="tab-pane active" id="resumo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="section-title-with-hr">
                                <h3 class="text-muted">Transações</h3>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-fill btn-sm btn-green" data-toggle="modal"
                                    data-target="#adicionar-receita-despesa">
                                <i class="fa fa-arrow-up"></i> Receita
                            </button>
                            <button type="button" class="btn btn-fill btn-sm btn-red" data-toggle="modal"
                                    data-target="#adicionar-receita-despesa">
                                <i class="fa fa-arrow-down"></i> Despesa
                            </button>
                        </div>
                        <div class="row">
                            <div class="section-title-with-hr">
                                <h3 class="text-muted">Saldo</h3>
                                <hr />
                            </div>
                            <p class="saldo">
                                <strong class="text-danger">
                                    <i class="fa-usd fa"></i>
                                    1.500,00
                                </strong>
                                <small>Mil e quinhentos kwanzas</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="section-title-with-hr">
                            <h3 class="text-muted text-center">Principais despesas</h3>
                            <hr />
                        </div>

                        <div id="pie"></div>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="section-title-with-hr">
                        <h3 class="text-muted text-center">Contas a Pagar/Receber</h3>
                        <hr />
                    </div>
                    <div class="row grid-divider">
                        <div class="col-sm-6">
                            <div class="col-padding">
                                <div class="table-responsive">
                                    <div class="fresh-table-container">
                                        <table class="table tabela-sem-opcoes table-bordered">
                                            <thead>
                                            <th data-field="data">Data</th>
                                            <th data-field="categoria">Categoria</th>
                                            <th data-field="descricao">Descrição</th>
                                            <th data-field="valor">Valor</th>
                                            <th data-field="opcoes" data-formatter="operateFormatter5">
                                                Opções
                                            </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-padding">
                                <div class="table-responsive">
                                    <div class="fresh-table-container">
                                        <table class="table tabela-sem-opcoes table-bordered">
                                            <thead>
                                            <th data-field="data">Data</th>
                                            <th data-field="categoria">Categoria</th>
                                            <th data-field="descricao">Descrição</th>
                                            <th data-field="valor">Valor</th>
                                            <th data-field="opcoes" data-formatter="operateFormatter5">
                                                Opções
                                            </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Masculino</td>
                                                    <td>29/08/1989</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="receitas">
                <div class="row">
                    <h2 class="page-header">Receitas</h2>

                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <div id="toolbar">
                                <button type="button" data-tooltip="tooltip" data-toggle="modal"
                                        data-target="#adicionar-receita-despesa" data-placement="right"
                                        title="Adicionar receita" class="btn btn-default">
                                    Adicionar
                                </button>
                            </div>
                            <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                <thead>
                                <th data-field="data">Data</th>
                                <th data-field="categoria">Categoria</th>
                                <th data-field="desc">Descrição</th>
                                <th data-field="valor">Valor</th>
                                <th data-field="saldo">Saldo</th>
                                <th data-field="opcoes" data-formatter="operateFormatter6"
                                    data-events="operateEvents">
                                    Opções
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section-title-with-hr-dotted margin-top">
                        <h5 class="text-muted">Resumo Período (02/09/1000 - 03/03/2000)</h5>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="estatisticas">
                                <p class="total-transacoes">
                                    Total de transações:
                                    <span class="valor-transacoes"><b>180</b></span>
                                </p>

                                <p class="contas-a-receber">
                                    Contas a receber (<span class="badge-contas">12</span>):
                                    <span class="valor-contas-a-receber"><b>3.500,00</b></span>
                                </p>

                                <p class="contas-a-pagar">
                                    Contas a pagar (<span class="badge-contas">3</span>):
                                    <span class="valor-contas-a-pagar"><b>6.4586,00</b></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="total-receitas">
                                Total de receitas:
                                <span class="valor-receitas text-success"><b>7.9283,00</b></span>
                            </p>

                            <p class="total-despesas ">
                                Total de Despesas:
                                <span class="valor-despesas text-danger"><b>-1.390,00</b></span>
                            </p>

                            <p class="total-per ">
                                Total Per. :
                                <span class="valor-per text-success"><b>6.2673,00</b></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="despesas">
                <div class="row">
                    <h2 class="page-header">Despesas</h2>

                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <div id="toolbar-1">
                                <button type="button" data-tooltip="tooltip" data-toggle="modal"
                                        data-target="#adicionar-receita-despesa" data-placement="right"
                                        title="Adicionar despesa" class="btn btn-default">
                                    Adicionar
                                </button>
                            </div>
                            <table id="fresh-table-1" class="table tabela-with-advancedSearch" data-toolbar="#toolbar-1">
                                <thead>
                                <th data-field="data">Data</th>
                                <th data-field="categoria">Categoria</th>
                                <th data-field="desc">Descrição</th>
                                <th data-field="valor">Valor</th>
                                <th data-field="saldo">Saldo</th>
                                <th data-field="opcoes" data-formatter="operateFormatter6"
                                    data-events="operateEvents">
                                    Opções
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12/12/1992</td>
                                        <td>Limpeza</td>
                                        <td>Compra de detergente</td>
                                        <td>8000</td>
                                        <td>8000</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section-title-with-hr-dotted margin-top">
                        <h5 class="text-muted">Resumo Período (02/09/1000 - 03/03/2000)</h5>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="estatisticas">
                                <p class="total-transacoes">
                                    Total de transações:
                                    <span class="valor-transacoes"><b>180</b></span>
                                </p>

                                <p class="contas-a-receber">
                                    Contas a receber (<span class="badge-contas">12</span>):
                                    <span class="valor-contas-a-receber"><b>3.500,00</b></span>
                                </p>

                                <p class="contas-a-pagar">
                                    Contas a pagar (<span class="badge-contas">3</span>):
                                    <span class="valor-contas-a-pagar"><b>6.4586,00</b></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="total-receitas">
                                Total de receitas:
                                <span class="valor-receitas text-success"><b>7.9283,00</b></span>
                            </p>

                            <p class="total-despesas ">
                                Total de Despesas:
                                <span class="valor-despesas text-danger"><b>-1.390,00</b></span>
                            </p>

                            <p class="total-per ">
                                Total Per. :
                                <span class="valor-per text-success"><b>6.2673,00</b></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="fluxo-caixa">
                <div class="row">
                    <h2 class="page-header">Fluxo de caixa</h2>

                    <form class="form-horizontal" role="form">
                        <div class="form-group form-group-sm pull-right">
                            <div class="col-sm-2">
                                <label for="ano" class="control-label">Ano:</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ano" name="exames" class="selectpicker width-override"
                                        data-style="form-control" data-menu-style="dropdown-blue">
                                    <option value="2009">2009</option>
                                    <option value="...">...</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive margin-top">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Transações</th>
                                    <th scope="col">Janeiro</th>
                                    <th scope="col">Fevereiro</th>
                                    <th scope="col">Março</th>
                                    <th scope="col">Abril</th>
                                    <th scope="col">Maio</th>
                                    <th scope="col">Junho</th>
                                    <th scope="col">Julho</th>
                                    <th scope="col">Agosto</th>
                                    <th scope="col">Setembro</th>
                                    <th scope="col">Outubro</th>
                                    <th scope="col">Novembro</th>
                                    <th scope="col">Dezembro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-muted">Receita Total</th>
                                    <td>1000</td>
                                    <td>150</td>
                                    <td>3000</td>
                                    <td>4500</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Consultas</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Curativos</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Internamentos</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr class="blank_row">
                                    <td colspan="13"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Despesa Total</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Energia</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Outro</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-muted">Limpeza</th>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>1000</td>
                                    <td>900</td>
                                    <td>4500</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>700</td>
                                    <td>600</td>
                                    <td>88</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-confirmar-pagamento" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black">

                            <button type="button" class="close btn" data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="pe-7s-close"></i>
                            </button>

                            <h6 class="modal-title" id="myModalLabel">Confirmação de Pagamento</h6>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-horizontal">

                                    <div class="section-title-with-hr">
                                        <h5 class="text-muted text-center">
                                            Confirmação de pagamento
                                            concretizado.
                                        </h5>
                                        <hr />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Categoria:</label>

                                        <div class="col-md-6 form-control-static">
                                            Dores de cabeça
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Descrição:</label>

                                        <div class="col-md-6 form-control-static">
                                            Dores de cabeça constantes
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Data:</label>

                                        <div class="col-md-6 form-control-static">
                                            02/01/1995
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Valor:</label>

                                        <div class="col-md-6 form-control-static">
                                            900,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-default btn-sm btn-fill"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="adicionar-receita-despesa" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black">
                            <button type="button" class="close btn" data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="pe-7s-close"></i>
                            </button>
                            <h6 class="modal-title" id="myModalLabel1">Adicionar Receita/Despesa</h6>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form action="" class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="descricao" class="control-label">Descrição:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input id="descricao" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="categoria"
                                                   class="control-label">Categoria:</label><br>
                                        </div>
                                        <div class="col-sm-5">
                                            <select id="categoria" class="selectpicker"
                                                    data-style="form-control"
                                                    data-menu-style="dropdown-blue">
                                                <option value="curativo">Curativo</option>
                                                <option value="...">...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="data" class="control-label">Data Exp. :</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input id="data" class="datepicker form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="valor" class="control-label">Valor:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input id="valor" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm col-padding">
                                        <label class="checkbox checkbox-azure col-sm-offset-2">
                                            <input type="checkbox" value="" data-toggle="checkbox">
                                            <strong>Recebido/Pago</strong>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-default btn-sm btn-fill"
                                    data-dismiss="modal">
                                Cancelar
                            </button>

                            <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-pesquisa-avancada" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black">

                            <button type="button" class="close btn" data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="pe-7s-close"></i>
                            </button>

                            <h6 class="modal-title" id="myModalLabel2">Pesquisa Avançada</h6>

                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="periodo" class="control-label">Período:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input id="periodo" class="datepicker form-control" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="categoria_pesquisa"
                                                   class="control-label">Categoria:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select id="categoria_pesquisa" class="selectpicker"
                                                    data-style="form-control"
                                                    data-menu-style="dropdown-blue">
                                                <option>Pendente</option>
                                                <option value="...">...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-2">
                                            <label for="utilizador"
                                                   class="control-label">Utilizador:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select id="utilizador" class="selectpicker"
                                                    data-style="form-control"
                                                    data-menu-style="dropdown-blue">
                                                <option>Ricardo</option>
                                                <option value="...">...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-3">
                                            <label for="conta_receber" class="control-label">
                                                Conta a
                                                receber:
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="conta_receber" class="selectpicker"
                                                    data-style="form-control"
                                                    data-menu-style="dropdown-blue">
                                                <option>A receber</option>
                                                <option value="...">...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-default btn-sm btn-fill"
                                    data-dismiss="modal">
                                Cancelar
                            </button>

                            <button type="button" class="btn btn-sm btn-fill btn-warning">
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-eliminar-receita-despesa" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black">

                            <button type="button" class="close btn" data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="pe-7s-close"></i>
                            </button>

                            <h6 class="modal-title" id="myModalLabel3">Eliminar Receita/Despesa</h6>

                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="form-horizontal">
                                    <h5 class="text-danger text-center">
                                        Deseja realmente eliminar a
                                        Receita/Despesa selecionada?
                                    </h5>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Categoria:</label>

                                        <div class="col-md-6 form-control-static">
                                            Dores de cabeça
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Descrição:</label>

                                        <div class="col-md-6 form-control-static">
                                            Dores de cabeça constantes
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Data:</label>

                                        <div class="col-md-6 form-control-static">
                                            02/01/1995
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Valor:</label>

                                        <div class="col-md-6 form-control-static">
                                            900,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-default btn-sm btn-fill"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
