﻿@model IEnumerable<MedLine.Models.Definicao.DadosEmpresa>

@{
    ViewBag.Title = "Empresa";
    var notifications = (List<string>)ViewBag.Notifications;
    var dadosEmpresa = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Definicoeos".ToLower() ? true : false;
    var utilizador = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Account".ToLower() ? true : false;
    var sexo = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Sexoes".ToLower() ? true : false;
    var tipoAgendamento = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "TipoAgendamentoes".ToLower() ? true : false;
    var tipoDocumento = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "TipoDocumentoes".ToLower() ? true : false;
    var parentesco = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Parentescoes".ToLower() ? true : false;
    var seguradora = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Seguradoras".ToLower() ? true : false;
    var provincia = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Provincias".ToLower() ? true : false;
    var municipio = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Municipios".ToLower() ? true : false;
}

<h2> Dados Empresa</h2>

<div class="col-md-2">

    <div class="col-md-12">
        <!-- required for floating -->
        <!-- Nav tabs -->
        @Html.Partial("_DefinicoesMenu")
    </div>
</div>

<section class="container">
    <div class="image-container set-full-height">
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <form action="">
                            <div class="card wizard-card ct-wizard-orange" id="wizard">
                                <div class="wizard-header">
                                    <h3>
                                        <b>FAÇA</b> O SEU PERFÍL <br>
                                        <small>Configuração do sistema.</small>
                                    </h3>
                                </div>
                                <ul class="tabs">
                                    <li><a href="#about" data-toggle="tab">Básico</a></li>
                                    <li><a href="#address" data-toggle="tab">Endereço</a></li>
                                    <li><a href="#account" data-toggle="tab">Conta</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="about">
                                        <div class="row">
                                            <h4 class="info-text">
                                                Preencha algumas informações básicas sobre a sua
                                                clínica.
                                            </h4>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="images/default-avatar.png" class="picture-src"
                                                             id="wizardPicturePreview" title="" />
                                                        <input type="file" id="wizard-picture">
                                                    </div>
                                                    <h6>Adicionar logotipo da clínica</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="nome_clinica">Nome da clínica</label>
                                                    <input type="text" class="form-control" id="nome_clinica"
                                                           placeholder="Clinica sagrada família...">
                                                </div>
                                                <div class="form-group">
                                                    <label for="tel">Telefone</label>
                                                    <input type="tel" class="form-control" id="tel"
                                                           placeholder="(000) 000000">
                                                </div>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>E-mail</label>
                                                    <input type="email" class="form-control"
                                                           placeholder="clinica@al.net.ao">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">
                                                    Preencha as informações de endereço da sua
                                                    clínica.
                                                </h4>
                                            </div>
                                            <div class="col-sm-7 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Endereço</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Rua Joaquim Kapango">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Número da rua</label>
                                                    <input type="text" class="form-control" placeholder="58">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="provincia">Província</label><br>
                                                    <select id="provincia" name="provincia" class="selectpicker"
                                                            data-style="form-control" data-menu-style="dropdown-blue">
                                                        <option disabled selected> Selecionar província</option>
                                                        <option value="cabinda"> Cabinda</option>
                                                        <option value="luanda"> Luanda</option>
                                                        <option value="bie"> Bié</option>
                                                        <option value="benguela">Benguela</option>
                                                        <option value="huambo"> Huambo</option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="municipio">Município</label><br>
                                                    <select id="municipio" name="municipio" class="selectpicker"
                                                            data-style="form-control" data-menu-style="dropdown-blue">
                                                        <option disabled selected> Selecionar município</option>
                                                        <option value="ingombotas"> Ingombotas</option>
                                                        <option value="Cacuaco"> Cacuaco</option>
                                                        <option value="Viana"> Viana</option>
                                                        <option value="hoji-ya-henda"> Hoji-Ya-Henda</option>
                                                        <option value="sambizanga"> Sambizanga</option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="form-group">
                                                    <label for="nome_user">Mandar Email</label>
                                                    <input type="checkbox" class="form-control" id="imp">
                                                </div>
                                                <div class="form-group">
                                                    <label for="senha">Imprimir Reporting Services</label>
                                                    <input type="checkbox" class="form-control" id="imp">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="account">
                                        <h4 class="info-text"> Preencha os dados do utilizador. </h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="form-group">
                                                    <label for="nome_user">Nome de utilizador</label>
                                                    <input type="text" class="form-control" id="nome_user"
                                                           placeholder="kindelbit...">
                                                </div>
                                                <div class="form-group">
                                                    <label for="senha">Senha</label>
                                                    <input type="tel" class="form-control" id="senha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm'
                                               name='next' value='Avançar' />
                                        <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm'
                                               name='finish' value='Finalizar' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm'
                                               name='previous' value='Retroceder' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!--  big container -->
    </div>
</section>
