*{
  margin: 0;
  padding: 0;
  line-height: 0;
}
html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #2d2d2d;
  padding: 0;
  margin: 0;
  font-family: "Verdana", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  cursor: default; }

a{
  text-decoration: none;
  color: #2d2d2d;
}

a:hover{
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

table{
  border: none;
  width: 100%;
  margin: 15px 0;
  display: table;
  border-collapse:collapse;
}

table th{
  height: 38px;
  color: #222222;
  font-size: .9em;
  font-weight: bold;
  border-bottom: solid 1px #bdbdbd;
  text-transform: uppercase;
}


table td{
  display: table-cell;
  border-bottom: solid 1px #bdbdbd;
  height: 38px;
  text-align: center;

}

table th,
table td{
  text-align: left;
  line-height: 1.3em;
  padding: 4px;
}


.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

h1{
  font-size: 1.6em;
  color: #3f3f3f;
  text-align: center;
  text-transform: uppercase;
}

h2{
  font-size: 1.2em;
  color: #3f3f3f;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
}

.clear{
  clear: both;
}

.left{
  float: left;
}

.right{
  float: right !important;
}

.container{
  width: 100%;
  overflow: hidden;
}

.container .content,
.container .topo{
  width: 75%;
  margin: 0 auto;
}

.container .topo{
  height: 100px;
  padding-top: 2em;
  margin-bottom: 60px;
  clear: both;
  text-align: center;
}

.container .col-1{
  width: 99%;
}

.container .col-2{
  width: 49.99%;
  float: left;
}

.container .col-3{
  width: 33%;
  float: left;
}

.bordered{
  border: 3px solid #555;
  min-height: 100px;
  margin-bottom: 5px
}

.bordered.dotted{
  border: 2px dotted #555;
  min-height: 100px;
  margin-bottom: 5px
}

.validade_info{
  margin: 36px 0 26px;
  text-align: center;
}

.bordered p.destaque{
  text-align: center !important;
  font-size: .85em;
  padding: 8px 0;
  background-color: #f5cd87;
  font-weight: 600; 
  text-transform: uppercase;
}

.bordered p.destaque.gray{
  background-color: #dadada;
}

.last_box_info{
  margin-top: 28px;
  border:1px solid #555;
  float: right;
  width: 50%;
  padding:8px 20px;
}

.last_box_info td{
  font-size: .9em;
}

.container.medicina_trabalho p{
  line-height: 15px
}

.container.medicina_trabalho .topo{
  margin-bottom: 70px
}

.container.medicina_trabalho .topo div.col-3:first-child{
  text-align: left;
}

.container.medicina_trabalho .topo div h2{
  margin-bottom: 12px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
  margin-top: 20px;
}

.container.fatura .topo{
  text-align: left;
}

.container.fatura .topo p.reference{
  text-align: right;
  height: auto;
  line-height: 24px;
}

.container.fatura p.instit_info{
  font-size: 12px;
  line-height: 20px;
}

.container .topo .print{
  position: absolute;
  right: 3em;
  top: 3em;
  display: block;
  font-size: .72em;
  background: #1a1a1a url(img/print.png) center center no-repeat;
  height: 40px; 
  width: 40px;
}

.container .topo .print:hover{
  background-color: #4a4a4a;
}

.container .content p{
  line-height: .9em;
  font-size: .9em;
}

.container .content table tr td strong.endereco{
  font-size: 1.3em;
}
.container .content .instituto{
  border: solid 1px #bdbdbd;
  text-align: center;
  padding:10px; 
  margin: 2em 0 0;
}

.container .content table.paciente,
.container .content table.usuario{
  margin: 80px 0 20px;
}

.container .content table.paciente.intern{
  margin-top: 40px
}

.container .content table.report_type_info{
  margin: 0;
}

.container .content table.listagem thead tr th{
  font-weight: lighter;
}

.container .content table.listagem tr th,
.container .content table.listagem tr td{
  text-align: center;
}

.container .content table.listagem tr th:first-child,
.container .content table.listagem tr td:first-child{
  text-align: left;
}

.container .content table.listagem tr th:last-child,
.container .content table.listagem tr td:last-child{
  text-align: right;
}

.container .content table.listagem.limpa tr td:last-child,
.container .content table.listagem.limpa tr th:last-child{
  text-align: left;
}

.container .content table.listagem.limpa{
  margin-bottom: 30px;
}

.container .content table.usuario tr td,
.container .content table.paciente tr td{
  border: none;
  height: 25px;
}

.container .content table.assinante tr td{
  border:none;
  text-align: center;
}

.container .content table.report_type_info tr td{
  border: solid 2px #bdbdbd;
}

.container .content .bloco-half,
.container .content .bloco-complete{
  width: 45%;
  padding: 1em 0;
  margin: 5px 0 10px 0;
}

.container .content .bloco-half table,
.container .content .bloco-complete table{
  margin-top: 0;
  margin-bottom: 0
}

.container.fatura table{
  border-top: 2px solid #333;
  width: 100%
}

.container.fatura table.coordenadas{
  border:none;
}

.container.fatura table.coordenadas th,
.container.fatura table.coordenadas td{
  border:none;
  height: 26px;
  font-weight: bold;
}

.container.fatura table th{
  font-weight: bold;
  font-size: 11px;
  text-transform: unset;
}

.container.fatura table td{
  font-weight: lighter;
  font-size: 11px
}

.container.medicina_trabalho table{
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0
}

.container.medicina_trabalho table tr td{
 border-bottom: solid 1px #666; 
 height: 30px;
 position: relative;
}

.container.medicina_trabalho table tr td.no_border{
 border: none !important;
}

.container.medicina_trabalho table tr td span.box{
 border: solid 1px #666;
 text-align: center;
 font-size: .9em;
 padding-top: 12px;
 width: 32px; 
 height: 28px;
 display: block;
 position: absolute;
 top: 2px;
 right: 31px
}

.container.medicina_trabalho table tr td span.box.left{
 position: relative;
 margin-right: 5px;
 top: -4px
}

.container.medicina_trabalho table tr td span.box:last-child{
 right: 0
}

.container.medicina_trabalho .note_box{
  min-height: 100px;
}

.container.fatura hr.separador{
  border-top:3px solid #222;
  margin-top: 60px;
}

.container.fatura table.dados td:last-child,
.container.fatura table.dados th:last-child{
  text-align: right;
}

.container.fatura table tr:last-child td{
  border-bottom: none;
}

.container.fatura table.valor_total{
  border:none;
  margin-top: 50px
}

.container.fatura table.valor_total tr td{
  font-weight: bold;
  font-size: 13px;
  text-align: right;
}

.container.fatura table.valor_total tr td:first-child{
  border-bottom: none;
}

.container.fatura table.valor_total tr:last-child td{
  font-weight: lighter;
}

.container .content .bloco-half table.limpa{
  margin-bottom: 0
}

.container .content .bloco-complete{
  width: 100%
}

.container .content .bloco-border{
  border-right: solid 1px #bdbdbd;
}

.container .content .instrucoes{
  padding: 40px 0 20px;
  bottom: 2px;
  width: 80%;
  margin: 20px auto 0 auto;
}

.container .content .instrucoes p{
  color: #606060;
  margin-top: 3em;
  line-height: 1.2em;
  font-size: .9em;
}

.container .content .instrucoes p span{
  width:40px;
  height:40px;
  display:inline-block;
  line-height:38px;
  text-align:center;
  font-size:1.1em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  float:left;
  margin-right:10px;
  color:#606060;
  background-color: #ffffff;
  border: 2px solid #606060;
  position: relative;
  top: -5px;
}

.dados_instituicao{
  text-align: center;
  display: none;
}

/* ================== REGRAS PARA IMPRESSÃO ================== */
@media print {

    .pagebreak { 
      page-break-before: always; 
    }

    .container .content p{
      font-size: 11px;
    }

    .container .topo .print{
      display: none;
    }
    .container .content,
    .container .topo{
      width: 90%;
      margin: 0 auto 30px;
    }

    .container .content .instrucoes p{
      margin-top: 35px;
      font-size: 10px;
    }

    .dados_instituicao{
      display: block;
      text-align: center;
      position: absolute;
      bottom: 10px;
    }

    table{
      margin: 20px 0;
    }


    table th,
    table td{
      font-size: 11px;
      height: 26px;
    }

    table thead tr th{
      font-weight: bold !important;
    }

    .container .content table.listagem{
      margin-top: 0px;
    }

    .container .content table.listagem th,
    .container .content table.listagem td{
      height: 22px;
    }

    .container.fatura table.coordenadas th,
    .container.fatura table.coordenadas td{
      font-size: 7.3px;
    }

    h1{
      font-size: 18px
    }

    h2{
      font-size: 16px;
    }

    .bordered{
      min-height: 70px;
    }

    .container.medicina_trabalho .topo{
      margin-bottom: 10px
    }

    .container.medicina_trabalho .topo div h2 {
        font-size: 12px;
    }

    .container.medicina_trabalho .topo div p {
        font-size: 9px;
    }
    .container .topo .col-3:last-child{
      width: 25%;
    }

    .container.medicina_trabalho table tr td{
     border-bottom: solid 1px #666; 
     height: 20px;
    }

    .container.medicina_trabalho table tr td span.box{
       width: 28px; 
       height: 24px;
       top: 0;
    }

    .container.medicina_trabalho table tr td span.box.small{
       width: 22px; 
      }

      .last_box_info td{
        font-size: 10px;
      }
}






