﻿@model IEnumerable<MedLine.Models.Laboratorio.ViewModel.ExamesViewModel>

@{
    ViewBag.Title = "Laboratório";
    var notifications = (List<string>)ViewBag.Notifications;
    var paciente = (MedLine.Models.Pacientes.Paciente)ViewBag.Paciente;
    var ageServices = new MedLine.Services.ComumServices.AgeServices();
}

<div class="col-md-2">
    <div class="menu-lateral pull-left margin-top col-md-6">
        <h3 class="title">Notificações</h3>
        <h6 class="titulo-alerta text-muted">Lista:</h6>
        <ul class="notice list-unstyled">
            <li>
                <a href="">
                    Notificação 3 <i class="fa fa-calendar"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">

                    <div class="row">
                        <h2 class="page-header">Paciente: <span>@paciente.Nome</span></h2>
                        <h4 class="text-muted title">
                            #@paciente.Nome <br />
                            <small>@ageServices.GetAgeDescription(paciente.DataNascimento)</small>
                        </h4>
                    </div>
                    <div class="row">
                        <h2 class="page-header">Exames Requisitados</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @("Cód. Exame")
                                            </th>
                                            <th>
                                                @("Descrição Exame")
                                            </th>
                                            <th>
                                                @("Estado")
                                            </th>
                                            <th>
                                                @("Data")
                                            </th>
                                            <th>
                                                @("Hora")
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExameDescricao)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Estado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DataRegisto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HoraRegisto)
                                                </td>
                                                <td>
                                                    @if (item.EEstado == MedLine.Models.Enums.EEstadoAnaliseExame.Laboratorio)
                                                    {
                                                        <a onclick="ConfirmarOperacao(@item.Id,'AguardarResultado',@paciente.Id)" data-tooltip="tooltip" title="Aguardar Resultado" class="table-action btn btn-simple btn-primary" href="#">
                                                            <i class="fa fa-clock-o"></i>
                                                        </a>
                                                    }
                                                    @if (item.EEstado == MedLine.Models.Enums.EEstadoAnaliseExame.AguardarResultado)
                                                    {
                                                        <a data-tooltip="tooltip" title="Lançar Resultado" class="table-action btn btn-simple btn-info" href="@Url.Action("LancarResultado", new { id = item.Id, pacienteId = paciente.Id })">
                                                            <i class="fa fa-heartbeat"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
