﻿@model MedLine.Models.Laboratorio.AnaliseExameLaboratorio

@{
    ViewBag.Title = "Lançar Resultado Exame";
    var paciente = (MedLine.Models.Pacientes.Paciente)ViewBag.Paciente;
    var ageServices = new MedLine.Services.ComumServices.AgeServices();
}

<div class="container">
    <div class="row">
        <div class="menu-lateral pull-left margin-top col-md-2">
            <h3 class="title">Notificações</h3>
            <h6 class="titulo-alerta text-muted">Lista:</h6>
            <ul class="notice list-unstyled">
                <li>
                    <a href="">
                        Notificação<i class="fa fa-calendar"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-xs-12 pull-right">
            <!-- Tab panes -->
            <div class="content clear">
                <div class="row">
                    <h2 class="page-header">Paciente: <span>@paciente.Nome</span></h2>
                    <h4 class="text-muted title">
                        #@paciente.Codigo<br />
                        <small>@ageServices.GetAgeDescription(paciente.DataNascimento)</small>
                        <small>- @paciente.Agendamentos.Count()ª Consulta</small>
                        <br />
                        <small><strong class="exame">Exame: </strong>@Model.AreaActuacao.CID | @Model.AreaActuacao.Nome - @Model.AreaActuacao.TipoAgendamento.Nome</small>
                    </h4>
                    <h4 class="section-title">Lançar Resultado</h4>
                    @using (Html.BeginForm("LancarResultado", "Laboratorio", FormMethod.Post, new { @class = "form-novo-paciente margin-top form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.AnaliseId)
                        @Html.HiddenFor(model => model.PacienteId)
                        @Html.HiddenFor(model => model.AreaActuacaoId)
                        @Html.HiddenFor(model => model.DataRegisto)
                        @*@Html.HiddenFor(model => model.EstadoAnaliseExame)*@
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Resultado, htmlAttributes: new { @class = "control-label " })
                                    @*<label for="resultado" class="control-label">Resultado:</label>*@
                                </div>
                                <div class="col-sm-5">
                                    @Html.EditorFor(model => model.Resultado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Resultado, "", new { @class = "text-danger" })
                                    @*<input id="resultado" class="form-control" type="text" />*@
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label " })
                                    @*<label for="eventdescription" class="control-label">Observações:</label>*@
                                </div>
                                <div class="col-sm-5">
                                    @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control", placeholder = "Insira o texto aqui", row = "3" })
                                    @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                                    @*<textarea id="eventdescription" class="form-control"placeholder="Insira o texto aqui" rows="3"></textarea>*@
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="pull-right">
                                        <a href="@Url.Action("ExamesLaboratorio", new { pacienteId = paciente.Id })" class="btn btn-warning btn-sm btn-fill">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                        <button type="button" onclick="ConfirmarOperacao(@Model.Id,'AnularExameLaboratório',@paciente.Id)" class="btn btn-warning btn-sm btn-fill">
                                            Anular
                                        </button>
                                        <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-blue">
                                <div class="panel-heading">Adicionar Ficheiros</div>
                                <div class="panel-body">
                                    <form action="@Url.Action("UploadFile")" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" >
                                        <div class="fallback">
                                            @Html.Hidden("TipoFicheiro", MedLine.Models.Enums.ETipoFicheiro.Laboratorio)
                                            <input name="file" type="file" multiple />
                                            <input type="submit" value="Carregar" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>