﻿@model MedLine.Models.Comum.Ficheiro

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>


            <div class="menu-lateral pull-left margin-top col-md-2">
                <h3 class="title">Notificações</h3>
                <h6 class="titulo-alerta text-muted">Lista:</h6>

                <ul class="notice list-unstyled">
                    <li>
                        <a href="">
                            Paciente XPTO | Urgente <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-xs-12 pull-right">
                <div class="content clear">
                    <div class="row">
                        <h2 class="page-header">Novo</h2>
                        <h5 class="section-title">Dados</h5>

								@using (Html.BeginForm()) 
								{
									@Html.AntiForgeryToken()
    
									<div class="form-horizontal">
										<h4>Ficheiro</h4>
										<hr />
																		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																										<div class="form-group">
																			@Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
																			<div class="col-md-10">
																				@Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
																												@Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
																											</div>
										</div>

																		<div class="form-group">
																			@Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
																			<div class="col-md-10">
																				@Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "form-control" } })
																												@Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
																											</div>
										</div>

																		<div class="form-group">
																			@Html.LabelFor(model => model.TipoFicheiro, htmlAttributes: new { @class = "control-label col-md-2" })
																			<div class="col-md-10">
																				@Html.EnumDropDownListFor(model => model.TipoFicheiro, htmlAttributes: new { @class = "form-control" })
																												@Html.ValidationMessageFor(model => model.TipoFicheiro, "", new { @class = "text-danger" })
																											</div>
										</div>

																		<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<input type="submit" value="Guardar" class="btn btn-default" />
											</div>
										</div>
									</div>
								}
                    </div>
                </div>
            </div>
<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>
