﻿@model MedLine.Models.Comum.Ficheiro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

            <div class="menu-lateral pull-left margin-top col-md-2">
                <h3 class="title">Notificações</h3>
                <h6 class="titulo-alerta text-muted">Lista:</h6>

                <ul class="notice list-unstyled">
                    <li>
                        <a href="">
                            Paciente XPTO | Urgente <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-xs-12 pull-right">
                <div class="content clear">
                    <div class="row">
                        <h2 class="page-header">Detalhes</h2>
                        <h5 class="section-title">Dados</h5>

<div>
    <h4>Ficheiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFicheiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFicheiro)
        </dd>

    </dl>
</div>
</div>
</div>
</div>

<p>
	@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class="btn btn-info" }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
