﻿@model IEnumerable<MedLine.Models.Comum.Ficheiro>

@{
    ViewBag.Title = "Index";
	var notifications = (List<string>)ViewBag.Notifications;
}


<div class="col-md-2">

	<div class="col-md-12"> <!-- required for floating -->
		<!-- Nav tabs -->
		<ul class="nav nav-tabs tabs-left">
			<li class="active"><a href="#list" data-toggle="tab">Listagem</a></li>
		</ul>
	</div>

	<div class="menu-lateral pull-left margin-top col-md-6">
		<h3 class="title">Notificações</h3>
		<h6 class="titulo-alerta text-muted">Lista:</h6>
		<ul class="notice list-unstyled">
				<li>
					<a href="">
						Notificação 1 <i class="fa fa-calendar"></i>
					</a>
				</li>
		</ul>
	</div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
<div class="content">

<!-- Tab panes -->
<div class="content">
    <div class="tab-content">
        <div class="tab-pane active" id="list">

<div class="row">
<h2 class="page-header">Index</h2>
<div class="table-responsive">
<div class="fresh-table-container">
<table  id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
<thead>
    <tr>
				        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
		        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
		        <th>
            @Html.DisplayNameFor(model => model.TipoFicheiro)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFicheiro)
        </td>
        <td>
		    <a data-tooltip="tooltip" title="Baixar o ficheiro" class="table-action btn btn-simple btn-info" href="@Url.Action("Download", new { id = item.Id })">
                <i class="fa fa-download"></i>
            </a>
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

