﻿@model MedLine.Models.Financa.Pagamento

@{
    ViewBag.Title = "Efectuar Pagamento";
    var paciente = (MedLine.Models.Pacientes.Paciente)ViewBag.Paciente;
    var ageServices = new MedLine.Services.ComumServices.AgeServices();
}

<div class="container">
    <div class="row">
        <div class="menu-lateral pull-left margin-top col-md-2">
            <h3 class="title">Notificações</h3>
            <h6 class="titulo-alerta text-muted">Lista:</h6>
            <ul class="notice list-unstyled">
                <li>
                    <a href="">
                        Notificação<i class="fa fa-calendar"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-xs-12 pull-right">
            <!-- Tab panes -->
            <div class="content clear">
                <div class="row">
                    <h2 class="page-header">Paciente: <span>@paciente.Nome</span></h2>
                    <h4 class="text-muted title">
                        #@paciente.Codigo<br />
                        <small>@ageServices.GetAgeDescription(paciente.DataNascimento)</small>
                        <small>- @paciente.Agendamentos.Count()ª Consulta</small>
                        <br />
                        <small><strong class="exame">Agendamento: </strong>@Model.Agendamento.Codigo | @Model.Agendamento.DataRegisto.ToString("dd-MM-yyyy HH:mm")</small>
                        <br />
                        <small><strong class="exame">Pagamento: </strong>@Model.Codigo</small>
                        <br />
                        <small><strong class="exame">Data Registo:</strong> @Model.DataRegisto.ToString("dd-MM-yyyy HH:mm") </small>
                        <br />
                        <small><strong class="exame">TOTAL: </strong> @Model.Total.ToString("C3")</small>
                    </h4>
                    <h4 class="section-title">Lista de Serviços</h4>
                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th>
                                            @("CID")
                                        </th>
                                        <th>
                                            @("Serviço")
                                        </th>
                                        <th>
                                            @("Valor")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PagamentosDetalhes)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AreaActuacao.CID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AreaActuacao.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AreaActuacao.Valor)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            TOTAL:
                                        </td>
                                        <td rowspan="2">
                                            <span id="myTotal">
                                                @Model.PagamentosDetalhes.Sum(x => x.AreaActuacao.Valor)
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <h4 class="section-title">Anexar Ficheiros</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-blue">
                                <div class="panel-heading">Adicionar Ficheiros</div>
                                <div class="panel-body">
                                    <form action="@Url.Action("UploadFile")" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                                        <div class="fallback">
                                            @Html.Hidden("TipoFicheiro", MedLine.Models.Enums.ETipoFicheiro.Pagamento)
                                            <input name="file" type="file" multiple />
                                            <input type="submit" value="Carregar" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="section-title">Submeter Dados</h4>
                    @using (Html.BeginForm("EfectuarPagamento", "Pagamento", FormMethod.Post, new { @class = "form-novo-paciente margin-top form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Total)
                        @Html.HiddenFor(model => model.SubTotal)
                        @Html.HiddenFor(model => model.Sequencia)
                        @Html.HiddenFor(model => model.DataRegisto)
                        @Html.HiddenFor(model => model.Codigo)
                        @Html.HiddenFor(model => model.AgendamentoId)
                        @Html.Hidden("pacienteId", paciente.Id)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-sm-6 form-group-sm">
                            @Html.LabelFor(model => model.FormaPagamento, htmlAttributes: new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.FormaPagamento, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FormaPagamento, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.LabelFor(model => model.ValorPago, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.ValorPago, new { @class = "form-control autoNumber" })
                            @Html.ValidationMessageFor(model => model.ValorPago, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-3 form-group-sm">
                            @Html.Label("Troco", htmlAttributes: new { @class = "control-label " })
                            @Html.Editor("Troco", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessage("Troco", "", new { @class = "text-danger" })
                        </div>
                        <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="pull-right">
                                        <a href="@Url.Action("PagamentosPendentes", new { pacienteId = paciente.Id })" class="btn btn-warning btn-sm btn-fill">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
