﻿@model IEnumerable<MedLine.Models.Comum.ViewModel.PacientesViewModel>
@{
    ViewBag.Title = "Caixa";
    var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Pendentes Laboratório</h2>
<div class="col-md-2">
    <div class="menu-lateral pull-left margin-top col-md-6">
        <h3 class="title">Notificações</h3>
        <h6 class="titulo-alerta text-muted">Lista:</h6>
        <ul class="notice list-unstyled">
            <li>
                <a href="">
                    Notificação 1 <i class="fa fa-calendar"></i>
                </a>
                <a href="">
                    Notificação 2 <i class="fa fa-calendar"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">

        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">
                    <div class="row">
                        <h2 class="page-header">Pagamentos Pendentes</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @("# Paciente")
                                            </th>
                                            <th>
                                                @("Nome")
                                            </th>
                                            <th>
                                                @("Tipo Cliente")
                                            </th>
                                            <th>
                                                @("Idade")
                                            </th>
                                            <th>
                                                @("Sexo")
                                            </th>
                                            <th>
                                                @("Telefone")
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @(item.CodigoPaciente)
                                                </td>
                                                <td>
                                                    @(item.NomePaciente)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TipoCliente)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Idade)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sexo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Telefone)
                                                </td>
                                                <td>
                                                    <a data-tooltip="tooltip" title="Ver pagamentos pendentes" class="table-action btn btn-simple btn-info" href="@Url.Action("PagamentosPendentes", new { pacienteId = item.Id })">
                                                        <i class="fa fa-bars"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
