﻿@model IEnumerable<MedLine.Models.Consulta.Agendamento>
<div class="col-md-2">

	<div class="col-md-12"> <!-- required for floating -->
		<!-- Nav tabs -->
		<ul class="nav nav-tabs tabs-left">
			<li class="active"><a href="#list" data-toggle="tab">Listagem</a></li>
		</ul>
	</div>

	<div class="menu-lateral pull-left margin-top col-md-6">
		<h3 class="title">Notificações</h3>
		<h6 class="titulo-alerta text-muted">Lista:</h6>
		<ul class="notice list-unstyled">
				<li>
					<a href="">
						Paciente XPTO | Urgente <i class="fa fa-calendar"></i>
					</a>
				</li>
		</ul>
	</div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
<div class="content">

<!-- Tab panes -->
<div class="content">
    <div class="tab-content">
        <div class="tab-pane active" id="list">

<div class="row">
<h2 class="page-header">Consultas</h2>
    <div class="table-responsive">
        <div class="fresh-table-container">
            <table class="table tabela-sem-opcoes">
                <thead>
                    <tr>
                        <th data-field="id">Paciente</th>
                        <th data-field="id">Cód.</th>
                        <th data-field="profissional de saude">Consultado por</th>
                        <th data-field="tipo agendamento">Tipo agendamento</th>
                        <th data-field="area">Área</th>
                        <th data-field="data">Data Hora</th>
                        <th data-field="hora">Hora</th>
                        <th data-field="estado">Estado</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.DataConsulta))//.Where(x => x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Consulta))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Paciente.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Funcionario.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.TipoAgendamento.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.AreaActuacao.Nome)</td>
                            <td>@(item.DataConsulta.ToString("dd-MM-yyyy"))</td>
                            <td>@(item.DataConsulta.ToString("HH:mm"))</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td>
                                <a class="table-action btn btn-simple btn-info" data-toggle="popover" data-placement="top" title="" data-content="@item.Observacoes" data-original-title="Observações"><i class="fa fa-info-circle"></i></a>
                                <a data-tooltip="tooltip" title="" class="table-action btn btn-simple btn-danger" href="@Url.Action("NovoAtendimento", "Consulta", new { id = item.Id })" data-original-title="Novo atendimento"><i class="fa fa-stethoscope"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>
</div>




