﻿@model Triagem

@using MedLine.Models.Consulta

@{
    ViewBag.Title = "Triagem";
    var agendamento = (Agendamento)ViewBag.Agendamento;
}

<div class="menu-lateral pull-left margin-top col-md-2">
    <h3 class="title">Notificações</h3>
    <h6 class="titulo-alerta text-muted">Lista:</h6>

    <ul class="notice list-unstyled">
        <li>
            <a href="">
                Notificação 1 <i class="fa fa-calendar"></i>
                Notificação 2 <i class="fa fa-calendar"></i>
                Notificação 3 <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="col-md-10 col-xs-12 pull-right">
    <div class="content clear">
        <div class="row">
            <h2 class="page-header">Triagem: @agendamento.Codigo | @agendamento.Paciente.Nome #@agendamento.Paciente.Codigo</h2>
            @using (Html.BeginForm("NovaTriagem", "Consulta", FormMethod.Post, new { @class = "form-novo-paciente" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("AgendamentoId", agendamento.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.FrequenciaCardiaca, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.FrequenciaCardiaca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FrequenciaCardiaca, "", new { @class = "text-danger" })
                </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.Temperatura, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Temperatura, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.Pulso, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Pulso, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pulso, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.Respiracao, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Respiracao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Respiracao, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.TensaoArterial, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.TensaoArterial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TensaoArterial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-3 form-group-sm">
                        @Html.LabelFor(model => model.SinaisSintomas, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.SinaisSintomas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SinaisSintomas, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-12 form-group-sm">
                        @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label " })
                        @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                    </div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="@Url.Action("Triagem")" class="btn btn-warning btn-sm btn-fill">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
            }
        </div>
    </div>
</div>
