﻿@using MedLine.Models.Identity
@using MedLine.Models.Consulta

@{
    ViewBag.Title = "NovoAtendimento";
}

@model MedLine.Models.Consulta.Agendamento
@{
    AppDbContext db = new AppDbContext();
}

<div class="row">
    <div class="col-md-2">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#resumo" data-toggle="tab">Resumo</a></li>
            <li><a href="#triagem" data-toggle="tab">Triagem</a></li>
            <li><a href="#analise" data-toggle="tab">Análise</a></li>
            <li><a href="#diagnostico" data-toggle="tab">Diagnóstico</a></li>
            <li><a href="#prescricao" data-toggle="tab">Exames</a></li>
            <li><a href="#prescricao2" data-toggle="tab">Receituario</a></li>
            <li>
                <div class="menu-lateral text-center">
                    <h6 class="timer-title text-muted"><i class="fa fa-clock-o"></i> Duração</h6>

                    <div class="time-counter text-muted">
                        <label id="minutes">00</label>:<label id="seconds">00</label>
                    </div>
                    <button type="button" class="btn btn-block btn-info btn-xs btn-fill">
                        <i class="fa fa-play-circle-o fa-fw fa-2x"></i>
                    </button>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-10">
        <!-- Tab panes -->
        <div class="content clear">
            <div class="tab-content">
                <div class="tab-pane active" id="resumo">
                    <div class="row">
                        <h3 class="page-header">Resumo Paciente <span>#@Model.Paciente.Nome</span></h3>
                        <h4 class="text-muted title">
                            @Model.Paciente.Nome <br />
                            <small>13 anos, 2 meses</small>
                            <small>- @Model.Paciente.Agendamentos.Count()ª Consulta</small>
                        </h4>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <table class="table tabela-sem-opcoes">
                                    <thead>
                                        <tr>
                                            <th data-field="id">Código</th>
                                            <th data-field="profissional de saude">Prof. de Saúde</th>
                                            <th data-field="tipo de Agendamento">Tipo de Agendamento</th>
                                            <th data-field="area">Área</th>
                                            <th data-field="data hora">Data</th>
                                            <th data-field="data hora">Hora</th>
                                            <th data-field="diagnostico">Diagnóstico</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Paciente.Agendamentos.Where(x => x.Estado == MedLine.Models.Enums.EEstadoAgendamento.Finalizada))
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Funcionario.Nome)</td>
                                                <td>@Html.DisplayFor(modelItem => item.AreaActuacao.TipoAgendamento.Nome)</td>
                                                <td>@Html.DisplayFor(modelItem => item.AreaActuacao.Nome)</td>
                                                <td>@(item.DataConsulta.ToString("dd-MM-yyyy"))</td>
                                                <td>@(item.DataConsulta.ToString("HH:mm"))</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="analise">
                    <div class="row">
                        <h3 class="page-header">Análise do Paciente <span>#@Model.Paciente.Nome</span></h3>

                        @{ 
                            var analise = db.Analises.FirstOrDefault(t => t.AgendamentoId == Model.Id);

                            
                        }
                        <form role="form" class='form-horizontal margin-top' method="post" action="/Consulta/GuardarAnalise">
                            @Html.Hidden("AgendamentoId", Model.Id)
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="queixa">Queixa Principal:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder=""
                                           id="QueixaPrincipal" name="QueixaPrincipal"  value="@(analise == null ? "": analise.QueixaPrincipal)"/>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="detalhes">Detalhes:</label>
                                </div>
                                <div class="col-sm-6">
                                    <textarea id="Destalhes" name="Destalhes" class="form-control"
                                               rows="3">@(analise == null ? "": analise.Destalhes)</textarea>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-3">
                                    <label class="control-label" for="problemas_card">
                                        Problemas
                                        Cardiacos:
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" value="@(analise == null ? "": analise.ProblemasCardiacos)" name="ProblemasCardiacos" class="form-control" id="problemas_card" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-3">
                                    <label class="control-label" for="problemas_resp" >
                                        Problemas
                                        Respiratórios:
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" value="@(analise == null ? "": analise.ProblemasRespiratorios)" name="ProblemasRespiratorios" class="form-control" id="problemas_resp" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-3">
                                    <label class="control-label" for="problemas_gast">
                                        Problemas
                                        Gastríticos:
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" value="@(analise == null ? "": analise.ProblemasGastricos)" name="ProblemasGastricos" class="form-control" id="problemas_gast" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="problemas_re">Problemas Renais:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" value="@(analise == null ? "": analise.ProblemasRenais)" name="ProblemasRenais" class="form-control" id="problemas_re" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="alergias">Alergias:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" value="@(analise == null ? "": analise.Alergias)" name="Alergias" class="form-control" id="alergias" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label">Gravidez:</label>
                                </div>
                                <div class="col-sm-6 radio-group">
                                    <span class="radio radio-azure radio-inline">
                                        <input type="radio" name="Gravidez" data-toggle="radio"
                                               id="optionsRadios1" @(analise == null ? "": (analise.Gravidez?"checked":""))  value="true">
                                        <i></i>Sim
                                    </span>
                                    <span class="radio radio-red radio-inline">
                                        <input type="radio" name="Gravidez" data-toggle="radio"
                                               id="optionsRadios2" @(analise == null ? "": (analise.Gravidez?"": "checked"))  value="false">
                                        <i></i>Não
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label">Diabetes:</label>
                                </div>
                                <div class="col-sm-6 radio-group">
                                    <span class="radio radio-azure radio-inline">
                                        <input type="radio" name="Diabetes" data-toggle="radio"
                                               id="optionsRadios3" @(analise == null ? "": (analise.Diabetes?"checked":""))  value="true">
                                        <i></i>Sim
                                    </span>
                                    <span class="radio radio-red radio-inline">
                                        <input type="radio" name="Diabetes" data-toggle="radio"
                                               id="optionsRadios4" @(analise == null ? "": (analise.Diabetes?"": "checked")) value="false">
                                        <i></i>Não
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label">Hepatite:</label>
                                </div>
                                <div class="col-sm-6 radio-group">
                                    <span class="radio radio-azure radio-inline">
                                        <input type="radio" name="Hepatite" data-toggle="radio"
                                               id="optionsRadios5" @(analise == null ? "": (analise.Hepatite?"checked":"")) value="true">
                                        <i></i>Sim
                                    </span>
                                    <span class="radio radio-red radio-inline">
                                        <input type="radio" name="Hepatite" data-toggle="radio"
                                               id="optionsRadios6" @(analise == null ? "": (analise.Hepatite?"": "checked")) value="false">
                                        <i></i>Não
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-3">
                                    <label class="control-label" for="medicamentos">Uso de Medicamentos:</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" value="@(analise == null ? "": analise.UsoMedicamentos)" class="form-control" id="medicamentos" name="UsoMedicamentos"/>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="form-group pull-right">
                                        <button type="submit"
                                                class="btn btn-warning btn-fill btn-sm">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="triagem">
                    <div class="row">
                        <h3 class="page-header">Triagem Paciente <span>#@Model.Paciente.Nome</span></h3>
                        
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <table class="table tabela-sem-opcoes">
                                    <thead>
                                        <tr>
                                            <th data-field="id">Altura</th>
                                            <th data-field="profissional de saude">Peso</th>
                                            <th data-field="tipo de Agendamento">Freq. Cardiaca</th>
                                            <th data-field="area">Temperatura</th>
                                            <th data-field="data hora">Pulsação</th>
                                            <th data-field="data hora">Respiração</th>
                                            <th data-field="diagnostico">Tensão Arterial</th>
                                            <th data-field="diagnostico">Sinais e Sintomas</th>
                                            <th data-field="diagnostico">Observações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            var triagem = db.Triagens.FirstOrDefault(t => t.AgendamentoId == Model.Id);
                                        }
                                        <tr>
                                            <td>@Html.DisplayFor(model=> triagem.Altura)</td>
                                            <td>@Html.DisplayFor(model => triagem.Peso)</td>
                                            <td>@Html.DisplayFor(model => triagem.FrequenciaCardiaca)</td>
                                            <td>@Html.DisplayFor(model => triagem.Temperatura)</td>
                                            <td>@Html.DisplayFor(model => triagem.Pulso)</td>
                                            <td>@Html.DisplayFor(model => triagem.Respiracao)</td>
                                            <td>@Html.DisplayFor(model => triagem.TensaoArterial)</td>
                                            <td>@Html.DisplayFor(model => triagem.SinaisSintomas)</td>
                                            <td>@Html.DisplayFor(model => triagem.Observacoes)</td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="diagnostico">
                    <div class="row">
                        <h3 class="page-header">Diagnóstico Paciente <span>#@Model.Paciente.Nome</span></h3>
                        @{
                                                    AnaliseDiagnostico diagnostico = null;
                                                    if(analise != null)
                                                    {
                                                        diagnostico = db.AnalisesDiagnosticos.FirstOrDefault(t => t.AnaliseId == analise.Id);
                                                    }

                                                }
                        <form role="form" class='form-horizontal margin-top' method="post" action="/Consulta/GuardarDiagnostico">
                                @Html.Hidden("AnaliseId", (analise == null? 0 : analise.Id))
                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="diagnostic">Diagnostico:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder=""
                                           id="diagnostic" name="Diagnostico" value="@(diagnostico== null?"":diagnostico.Diagnostico)"/>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <div class="col-sm-2">
                                    <label class="control-label" for="detalhes_diag">Detalhes:</label>
                                </div>
                                <div class="col-sm-6">
                                    <textarea id="detalhes_diag" name="Detalhes" class="form-control"
                                              placeholder="Insira o texto aqui" rows="3">@(diagnostico== null?"":diagnostico.Detalhes)</textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="form-group pull-right">
                                      @if (analise != null)
                                                {
                                        <button type="submit"
                                                class="btn btn-warning btn-fill btn-sm">
                                            Guardar
                                        </button>
                                            }      
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="prescricao">
                    <div class="row">
                        <h3 class="page-header">Exames do Paciente <span>#@Model.Paciente.Codigo</span></h3>

                        <form role="form" class='form-horizontal margin-top' method="post" action="/Consulta/AdicionarExame">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm pull-right">
                                    <div class="col-sm-2">
                                        <label for="exames" class="control-label">Exame:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        @*<select id="exames" name="exames" class="selectpicker width-override"
                                                data-style="form-control" data-menu-style="dropdown-blue">
                                            <option value="curativo">Curativo</option>
                                            <option value="...">...</option>
                                        </select>*@

                                        @Html.Hidden("AnaliseId", (analise == null ? 0 : analise.Id))

                                        @Html.DropDownList("AreaActuacaoId",null, new { @class = "selectpicker width-override", data_style = "form-control", data_menu_style = "dropdown-blue" } )
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-7">
                                    @if (analise != null)
                                    {

                                        <button type="submit"
                                                class="btn btn-info btn-sm btn-fill pull-right">
                                            <i class="pe-7s-plus"></i> Adiciona
                                        </button>
                                    }
                                </div>
                                <div class="table-responsive">
                                    <div class="">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th data-field="titulo">Id</th>
                                                    <th data-field="descricao">Descrição</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (analise != null)
                                                {
                                                    var exames = db.AnalisesExames.Where(t => t.AnaliseId == analise.Id);

                                                    foreach (var item in exames)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.AreaActuacao.Nome</td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    @*<div class="form-group pull-right">
                                        <button type="submit"
                                                class="btn btn-warning btn-fill btn-sm">
                                            Guardar
                                        </button>
                                    </div>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="prescricao2">
                    <div class="row">
                        <h3 class="page-header">Exames do Paciente <span>#@Model.Paciente.Codigo</span></h3>

                        <form role="form" class='form-horizontal margin-top' method="post" action="/Consulta/FinalizarConsulta">
                            @Html.Hidden("agendamentoId", Model.Id)
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="titulo">Titulo:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="titulo" />
                                    </div>
                                </div>

                                <div class="form-group form-group-sm">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="desc">Descrição:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea id="desc" class="form-control"
                                                  placeholder="Insira o texto aqui" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-7">
                                    <button type="submit"
                                            class="btn btn-success btn-sm btn-info btn-fill pull-right">
                                        <i class="pe-7s-plus"></i> Adiciona
                                    </button>
                                </div>

                                <div class="table-responsive">
                                    <div class="fresh-table-container small-table">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th data-field="titulo">Título</th>
                                                <th data-field="descricao">Dosagem</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Paracetamol</td>
                                                    <td>500mg, 2 Comp. de 2h</td>
                                                </tr>
                                                <tr>

                                                    <td>Complexo B</td>
                                                    <td>500mg, 2 Comp. de 2h</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="form-group pull-right">
                                        @if (Model.Estado == MedLine.Models.Enums.EEstadoAgendamento.Laboratório)
                                        {
                                            <button type="submit"
                                                    class="btn btn-warning btn-fill btn-sm">
                                                Guardar
                                            </button>
                                        }
                            </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>