﻿@model MedLine.Models.Funcionarios.Funcionario

@using MedLine.Models.Enums

@{
    ViewBag.Title = "Funcionário";
}
<h2>Novo Funcionário</h2>

<div class="menu-lateral pull-left margin-top col-md-2">
    <h3 class="title">Notificações</h3>
    <h6 class="titulo-alerta text-muted">Lista:</h6>
    <ul class="notice list-unstyled">
        <li><a href="">Notificação 2 <i class="fa fa-calendar"></i></a></li>
    </ul>
</div>
<div class="col-md-10">
    <!-- Tab panes -->
    <div class="content clear">
        <div class="row">
            <h2 class="page-header">Novo Funcionário</h2>
            <h4 class="section-title">Dados Pessoais</h4>

            @using (Html.BeginForm("Create", "Funcionarios", FormMethod.Post, new { @class = "form-novo-paciente" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-sm-6 form-group-sm">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    @Html.LabelFor(model => model.TipoDocumentoId, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("TipoDocumentoId", null, htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                    @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.NumDocumento, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.NumDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumDocumento, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label " })
                    <div class="input-group">
                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control datepicker " } })
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    @Html.LabelFor(model => model.SexoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("SexoId", null, htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                    @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
                </div>
                <div class="clear"></div>
                <div class="row">
                    <h4 class="section-title">Endereço/Contacto</h4>
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 form-group-sm">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.Telefone1, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Telefone1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefone1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.Telefone2, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Telefone2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefone2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <h4 class="section-title">Função</h4>
                </div>
                <div class="form-group col-sm-5 radio-func">
                    <label class="radio radio-inline radio-azure">
                        @Html.RadioButtonFor(model => Model.Funcao, EFuncionarioFuncao.Admnistrativa, new { data_toggle = "radio" })
                        <i></i>Administrativa
                    </label>
                    <label class="radio radio-inline radio-azure">
                        @Html.RadioButtonFor(model => Model.Funcao, EFuncionarioFuncao.ProfissionalSaude, new { data_toggle = "radio" })
                        <i></i>Profissional de Saúde
                    </label>
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    @Html.LabelFor(model => model.FuncionarioCategoriaId, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("FuncionarioCategoriaId", null, htmlAttributes: new { @class = "selectpicker", data_style = "form-control", data_menu_style = "dropdown-blue" })
                    @Html.ValidationMessageFor(model => model.FuncionarioCategoriaId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-2 form-group-sm">
                    @Html.LabelFor(model => model.SalarioBase, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.SalarioBase, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SalarioBase, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-sm col-sm-2">
                    @Html.LabelFor(model => model.HE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.HE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HE, "", new { @class = "text-danger" })
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <h4 class="section-title">Área de Atuação</h4>
                </div>
                <div class="form-group form-group-sm ">
                    <select multiple="multiple" size="10" id="lista_areas">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <option value="option4">Option 4</option>
                        <option value="option5">Option 5</option>
                        <option value="option6">Option 6</option>
                        <option value="option7">Option 7</option>
                        <option value="option8">Option 8</option>
                        <option value="option9">Option 9</option>
                        <option value="option0">Option 10</option>
                    </select>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" class="btn btn-warning btn-sm btn-fill">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
