﻿@model MedLine.Models.Funcionarios.Funcionario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioCategoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioCategoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
