﻿@model MedLine.Models.Funcionarios.Funcionario

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

            <div class="menu-lateral pull-left margin-top col-md-2">
                <h3 class="title">Notificações</h3>
                <h6 class="titulo-alerta text-muted">Lista:</h6>

                <ul class="notice list-unstyled">
                    <li>
                        <a href="">
                            Paciente XPTO | Urgente <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-xs-12 pull-right">
                <div class="content clear">
                    <div class="row">
                        <h2 class="page-header">Editar</h2>
                        <h5 class="section-title">Dados</h5>
							@using (Html.BeginForm())
							{
								@Html.AntiForgeryToken()
    
								<div class="form-horizontal">
									<h4>Funcionario</h4>
									<hr />
																@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																							@Html.HiddenFor(model => model.Id)

																<div class="form-group">
																	@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.TipoDocumentoId, "TipoDocumentoId", htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																									@Html.DropDownList("TipoDocumentoId", null, htmlAttributes: new { @class = "form-control" })
																																@Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.NumDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.NumDocumento, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.NumDocumento, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.SexoId, "SexoId", htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																									@Html.DropDownList("SexoId", null, htmlAttributes: new { @class = "form-control" })
																																@Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.Telefone1, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.Telefone1, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.Telefone1, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.Telefone2, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.Telefone2, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.Telefone2, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.Funcao, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EnumDropDownListFor(model => model.Funcao, htmlAttributes: new { @class = "form-control" })
																									@Html.ValidationMessageFor(model => model.Funcao, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.FuncionarioCategoriaId, "FuncionarioCategoriaId", htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																									@Html.DropDownList("FuncionarioCategoriaId", null, htmlAttributes: new { @class = "form-control" })
																																@Html.ValidationMessageFor(model => model.FuncionarioCategoriaId, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.SalarioBase, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.SalarioBase, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.SalarioBase, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
																	@Html.LabelFor(model => model.HE, htmlAttributes: new { @class = "control-label col-md-2" })
																	<div class="col-md-10">
																		@Html.EditorFor(model => model.HE, new { htmlAttributes = new { @class = "form-control" } })
																									@Html.ValidationMessageFor(model => model.HE, "", new { @class = "text-danger" })
																								</div>
									</div>

																<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="Guardar" class="btn btn-default" />
										</div>
									</div>
								</div>
							}
                    </div>
                </div>
            </div>
<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>
