﻿@model IEnumerable<MedLine.Models.Funcionarios.Funcionario>

@{
    ViewBag.Title = "Funcionários";
    var notifications = (List<string>)ViewBag.Notifications;
}
<div class="col-md-2">
    <div class="col-md-12">
        @Html.Partial("_DefinicoesMenu")
    </div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
    <div class="content">
        <!-- Tab panes -->
        <div class="content">
            <div class="tab-content">
                <div class="tab-pane active" id="list">

                    <div class="row">
                        <h2 class="page-header">Funcionários</h2>
                        <div class="table-responsive">
                            <div class="fresh-table-container">
                                <div id="toolbar">
                                    <a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right" title="Novo Index" data-title="Novo Index" class="btn btn-default"> Novo Funcionário</i></a>
                                </div>
                                <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FuncionarioCategoria.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Sexo.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TipoDocumento.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NumDocumento)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DataNascimento)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Email)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Telefone1)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Telefone2)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Funcao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SalarioBase)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.HE)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FuncionarioCategoria.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sexo.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TipoDocumento.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NumDocumento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DataNascimento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Endereco)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Telefone1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Telefone2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Funcao)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SalarioBase)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HE)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
