﻿








@model MedLine.Models.Consulta.Agendamento
@{
    ViewBag.Title = "Confirmar";
}
<h2>Delete</h2>
<h3>Deseja realmente confirmar este agendamento?</h3>
<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaActuacao.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaActuacao.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataRegisto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sequencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
















