﻿@model IEnumerable<MedLine.Models.Consulta.Agendamento>

@{
    ViewBag.Title = "Index";
	var notifications = (List<string>)ViewBag.Notifications;
}

<h2> Listagem de Index</h2>


<div class="col-md-2">

	<div class="col-md-12"> <!-- required for floating -->
		<!-- Nav tabs -->
		@*<ul class="nav nav-tabs tabs-left">
			<li class="active"><a href="#list" data-toggle="tab">Listagem</a></li>
		</ul>*@
	</div>

	<div class="menu-lateral pull-left margin-top col-md-6">
		<h3 class="title">Notificações</h3>
		<h6 class="titulo-alerta text-muted">Lista:</h6>
		<ul class="notice list-unstyled">
            <li>
                <a href="">
                    Notication 01<i class="fa fa-info"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Notication 02<i class="fa fa-info"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Notication 03<i class="fa fa-info"></i>
                </a>
            </li>
		</ul>
	</div>
</div>

<div class="col-md-10 col-xs-12 pull-right">
<div class="content">
    <div id='calendar'></div>
</div>
</div>

<!-- MODAL 01 -->

<div id="modal-mostrar-evento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-black">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" class="pe-7s-close"></i> <span class="sr-only">close</span>
                </button>
                <h6 id="modalTitle" class="modal-title"></h6>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer footer-black">
                <button type="button" class="btn btn-fill btn-sm" data-dismiss="modal">
                    Sair
                </button>
                <a class="btn btn-danger btn-fill btn-sm" id="anular_agendamento" href="#">
                    Anular
                </a>
                <a class="btn btn-warning btn-fill btn-sm" id="confirmar_agendamento" href="#">
                    Confirmar
                </a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL 02 -->

<div id="modal-novo-envento" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-black">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pe-7s-close"></i>
                </button>
                <h6 class="modal-title">Novo agendamento</h6>
            </div>
            <div class="modal-body">
                @*<form id="form-novo-agendamento" method="post" action="/Agendamentoes/Create" class="">*@
                    @using (Html.BeginForm("Create", "Agendamentoes", FormMethod.Post, new { @id = "form-novo-agendamento" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group form-group-sm col-sm-4">
                            <label for="PacienteId">Nome do paciente</label><br>
                            <select id="PacienteId" name="PacienteId" class="selectpicker"
                                    data-style="form-control" data-menu-style="dropdown-blue">
                            </select>
                        </div>
                        <div class="form-group form-group-sm col-sm-4">
                            <label for="tipoAgendamento">Tipo de agendamento</label><br>
                            <select id="tipoAgendamento" name="tipoAgendamento"
                                    class="selectpicker"
                                    data-style="form-control" data-menu-style="dropdown-blue">
                            </select>
                        </div>
                        <div class="form-group form-group-sm col-sm-4">
                            <label for="AreaActuacaoId">Serviço</label><br>
                            <select id="AreaActuacaoId" name="AreaActuacaoId" class="selectpicker"
                                    data-style="form-control" data-menu-style="dropdown-blue">
                                
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm col-sm-4">
                            <label for="DataConsulta" class="control-label">Data:</label>
                            <div class="input-group">
                                <input  id="DataConsulta" name="DataConsulta" class="datepicker form-control" type="text" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4  form-group-sm">
                            <label for="hora">Hora</label>
                            <div class='input-group datetimepicker date' id='hora'>
                                <input type='text' name="horaAgendamento" id="horaAgendamento" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="pe-7s-date"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm col-sm-4">
                            <label for="FuncionarioId">Profissional de saúde</label><br>
                            <select id="FuncionarioId" name="FuncionarioId" class="selectpicker"
                                    data-style="form-control" data-menu-style="dropdown-blue">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="Observacoes">Observações</label>
                            <textarea id="Observacoes" name="Observacoes" class="form-control"
                                      placeholder="Insira o texto aqui" rows="3"></textarea>
                        </div>
                        <div class="col-sm-4  pull-right">
                            <p class="total-price">
                                <span class="section-title">Total a pagar</span>
                                <strong class="text-danger">
                                    <small><i class="fa-usd fa"></i></small>
                                    <span id="TotalPagar">0.0</span>
                                </strong>
                            </p>
                        </div>
                    </div>
                    }
                @*</form>*@
            </div>
            <hr />
            <div class="modal-footer footer-black">
                <button class="btn btn-fill btn-sm" data-dismiss="modal" aria-hidden="true">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-warning btn-fill btn-sm" id="submitButton">
                    Agendar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL 03 -->

<div class="modal fade" id="modal-procurar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-black page-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h6 class="modal-title" id="myModalLabel">Pesquisar agendamentos</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <div class="fresh-table-container">
                            @Html.Action("PesquisaAgendamentos", "Agendamentoes")
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-black">
                <button type="button" class="btn btn-sm btn-fill" data-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

