﻿@{ 
    Layout = null;
}

@model IEnumerable<MedLine.Models.Consulta.Agendamento>

<table id="fresh-table" class="table">
    <thead>
        <th data-field="id">Código</th>
    <th data-field="profissional">Prof. Saúde</th>
    <th data-field="paciente">Paciente</th>
    <th data-field="tel">Telefone</th>
    <th data-field="data-hora">Data-Hora</th>
    <th data-field="opcoes" data-events="operateEvents">
        Opções
    </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Funcionario.Nome</td>
                <td>@item.Paciente.Nome</td>
                <td>@item.Paciente.Telefone</td>
                <td>@item.DataConsulta.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    @if(item.Estado == MedLine.Models.Enums.EEstadoAgendamento.Agendado)
                    {                    
                        <a data-tooltip="tooltip" title="Detalhes" class="table-action btn btn-simple btn-info" href="/Agendamentoes/Confirm/@item.Id">
                            <i class="fa fa-play"></i>
                        </a>
                        <a data-tooltip="tooltip" title="Apagar" class="table-action btn btn-simple btn-danger" href="/Agendamentoes/Delete/@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    
                </td>
            </tr>
        }
        
    </tbody>
</table>
























