﻿

@{
    ViewBag.Title = "Create";
}

<div class="menu-lateral pull-left margin-top col-md-2">
    <h3 class="title">Pacientes</h3>
    <h6 class="titulo-alerta text-muted">Pacientes:</h6>

    <ul class="notice list-unstyled">
        <li>
            <a href="">
                Benevides Lecontes <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="col-md-10 col-xs-12 pull-right">
    <!-- Tab panes -->
    <div class="content clear">
        <div class="row">
            <h2 class="page-header">Novo Internamento</h2>
            <h4 class="text-muted title">
                Benevides Lecontes Ferreira Catumbo <br />
                <small>13 anos, 2 meses</small>
                <small>- 11ª Consulta</small>
            </h4>

            <button type="button" class="btn btn-fill btn-sm btn-warning" data-toggle="modal"
                    data-target="#modal-procurar">
                <i class="fa fa-list"></i> Lista
                Agendamentos
            </button>
            <div class="clearfix"></div>
            <h4 class="section-title">Outras informações</h4>

            <form action="" class="form-novo-paciente form-horizontal">
                <div class="form-group form-group-sm col-sm-3">
                    <label for="local" class="control-label">Local:</label><br>
                    <select id="local" class="selectpicker"
                            data-style="form-control" data-menu-style="dropdown-blue">
                        <option value="02">Quarto 02</option>
                        <option value="...">...</option>
                    </select>
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    <label for="dataE" class="control-label">Data Entrada:</label>

                    <div class="input-group">
                        <input id="dataE" class="datepicker form-control" type="text" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    <label for="dataS" class="control-label">Data Saída:</label>

                    <div class="input-group">
                        <input id="dataS" class="datepicker form-control" type="text" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-3">
                    <label for="agendamento" class="control-label">Agendamento:</label><br>
                    <select id="agendamento" class="selectpicker"
                            data-style="form-control" data-menu-style="dropdown-blue">
                        <option value="02">Quarto 02</option>
                        <option value="...">...</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="eventdescription">Observações</label>
                    <textarea id="eventdescription" class="form-control"
                              placeholder="Insira o texto aqui" rows="3"></textarea>
                </div>
                <div class="form-group form-group-sm col-sm-2">
                    <label for="tipo-internamento" class="control-label">Tipo Internamento:</label><br>
                    <select id="tipo-internamento" class="selectpicker"
                            data-style="form-control" data-menu-style="dropdown-blue">
                        <option value="vip">Vip</option>
                        <option value="...">...</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <p class="total-price">
                        <span class="section-title">Total a pagar</span> <br />
                        <strong class="text-danger">
                            <small><i class="fa-usd fa"></i></small>
                            10.0000
                        </strong>
                    </p>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="row">
                    <div class="col-sm-6 pull-right">
                        <div class="pull-right">
                            <a href="internamentos.html" class="btn btn-warning btn-sm btn-fill">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <button type="button" class="btn btn-warning btn-sm btn-fill">
                                Anular
                            </button>
                            <button type="submit" class="btn btn-warning btn-sm btn-fill">
                                Editar
                            </button>
                            <button type="submit" class="btn btn-sm btn-fill btn-warning">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="modal-procurar" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black page-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">
                                &times;
                            </button>
                            <h6 class="modal-title" id="myModalLabel">Pesquisar Agendamentos</h6>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="fresh-table-container">
                                        <table id="fresh-table" class="table">
                                            <thead>
                                            <th data-field="id">Código</th>
                                            <th data-field="profissional">Prof. Saúde</th>
                                            <th data-field="paciente">Paciente</th>
                                            <th data-field="tel">Telefone</th>
                                            <th data-field="data-hora">Data-Hora</th>
                                            <th data-field="opcoes" data-formatter="operateFormatter"
                                                data-events="operateEvents">
                                                Opções
                                            </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguimbola Piporai</td>
                                                    <td>Prakata</td>
                                                    <td>20019202902</td>
                                                    <td>10:30 PM</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-sm btn-fill" data-dismiss="modal">
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
