﻿
@{
    ViewBag.Title = "Internamentos";
}

<div class="menu-lateral pull-left margin-top col-md-2">
    <h3 class="title">lorem</h3>
    <h6 class="titulo-alerta text-muted">Pacientes:</h6>

    <ul class="notice list-unstyled">
        <li>
            <a href="">
                Benevides Lecontes <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="col-md-10 col-xs-12 pull-right">
    <div class="content clear">
        <div class="row">
            <h2 class="page-header">Internamentos</h2>
            <div class="table-responsive">
                <div class="fresh-table-container">
                    <div id="toolbar">
                        <a href="@Url.Action("Create")" data-tooltip="tooltip" data-placement="right"
                           title="Novo Internamento" class="btn btn-default">
                            <i class="glyphicon glyphicon-bed"></i>
                        </a>
                    </div>
                    <table id="fresh-table" class="table tabela-with-advancedSearch" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="id">Cód. Paciente</th>
                                <th data-field="nome">Nome</th>
                                <th data-field="sexo">Sexo</th>
                                <th data-field="tel">Telefone</th>
                                <th data-field="dataE">Data Entrada</th>
                                <th data-field="dataS">Data Saída</th>
                                <th data-field="opcoes" data-formatter="operateFormatter4" data-events="operateEvents">
                                    Opções
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>Nhareia</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nguimbola Piporai</td>
                                <td>Masculino</td>
                                <td>29/08/1989</td>
                                <td>catete</td>
                                <td>10:30 PM</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-pesquisa-avancada" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header header-black">

                            <button type="button" class="close btn" data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="pe-7s-close"></i>
                            </button>

                            <h6 class="modal-title" id="myModalLabel1">Pesquisa Avançada</h6>

                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-1">
                                            <label class="control-label" for="nome">Nome:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   id="nome" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="codPaciente">
                                                Cód.
                                                Paciente:
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control"
                                                   id="codPaciente" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-3">
                                            <label for="data" class="control-label">Data internamento:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input id="data" class="datepicker form-control" type="text" />
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-3">
                                            <label for="estado" class="control-label">Estado:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="estado" class="selectpicker"
                                                    data-style="form-control" data-menu-style="dropdown-blue">
                                                <option value="5">Faltam 5 dias</option>
                                                <option value="...">...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer footer-black">
                            <button type="button" class="btn btn-default btn-sm btn-fill"
                                    data-dismiss="modal">
                                Cancelar
                            </button>

                            <button type="button" class="btn btn-sm btn-fill btn-warning">
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
