﻿
<ul class="nav nav-tabs tabs-left">
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Ficheiros".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Ficheiroes")">Servidor Ficheiros</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Definicoeos".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Definicoeos")">Entidade</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Account".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Account")">Utilizadores</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Sexoes".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Sexoes")">Sexo</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "TipoAgendamentoes".ToLower() ?"active": "" )"><a href="@Url.Action("Index","TipoAgendamentoes")">Tipo agendam.</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "AreaActuacaos".ToLower() ?"active": "" )"><a href="@Url.Action("Index","AreaActuacaos")">Serviços</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "TipoDocumentoes".ToLower() ?"active": "" )"><a href="@Url.Action("Index","TipoDocumentoes")">Tipo documento</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Parentescoes".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Parentescoes")">Parentesco</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Seguradoras".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Seguradoras")">Seguradoras</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Provincias".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Provincias")">Província</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Municipios".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Municipios")">Município</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Funcionarios".ToLower() ?"active": "" )"><a href="@Url.Action("Index","Funcionarios")">Funcionário</a></li>
    <li class="@( ViewContext.RouteData.Values["controller"].ToString().ToLower() == "FuncionarioCategorias".ToLower() ?"active": "" )"><a href="@Url.Action("Index","FuncionarioCategorias")">Cat. Funcionário</a></li>
</ul>

