﻿@if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "Index".ToLower() ||
                                ViewContext.RouteData.Values["action"].ToString().ToLower() == "details".ToLower() ||
                                ViewContext.RouteData.Values["action"].ToString().ToLower() == "create".ToLower())
{
    <script src="~/Scripts/app/tabelas.js"></script>
}
@if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Pacientes".ToLower())
{
    <script src="~/Scripts/app/paciente.js"></script>
}
@if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Home".ToLower())
{
    <script src="~/Scripts/app/dashboard.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Agendamentoes".ToLower())
{
    <script src="~/Scripts/app/agenda.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Financas".ToLower())
{
    <script src="~/Scripts/app/financas.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Definicoeos".ToLower())
{
    <script src="~/Scripts/app/main.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Funcionarios".ToLower())
{
    <script src="~/Scripts/app/rh.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Laboratorio".ToLower())
{
    <script src="~/Scripts/app/lab.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Pagamento".ToLower())
{
    <script src="~/Scripts/app/payment.js"></script>
}
else if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "Consulta".ToLower())
{
    <script src="~/Scripts/app/timer.js"></script>
}
