﻿<ul class="nav navbar-nav center">
    <li class="active">
        <a href="@Url.Action("Index", "Home")">
            <i class="pe-7s-graph"></i>

            <p>Painel</p>
        </a>
    </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="pe-7s-shopbag"></i>
            <p>Consulta <span class="caret"></span></p>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "Agendamentoes")">
                    <i class="pe-7s-date pe-"></i>Agendamento
                </a>
            </li>
            <li>
                <a href="@Url.Action("Triagem", "Consulta")">
                    <i class="pe-7s-science"></i>Triagem
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Pagamento")">
                    <i class="pe-7s-cash"></i>Caixa
                </a>
            </li>
        </ul>
    </li>
    @*<li>
        <a href="@Url.Action("Index", "Agendamentoes")">
            <i class="pe-7s-date"></i>
            <p>Agenda</p>
        </a>
    </li>*@

    <li>
        <a href="@Url.Action("Index", "Pacientes")">
            <i class="pe-7s-users"></i>

            <p>Pacientes</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Internamentos")">
            <i class="pe-7s-hourglass"></i>
            <p>Internamentos</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Laboratorio")">
            <i class="pe-7s-magic-wand"></i>

            <p>Laboratório</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Financas")">
            <i class="pe-7s-cash"></i>

            <p>Finanças</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Consulta")">
            <i class="pe-7s-eyedropper"></i>
            <p>Médico</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Relatório")">
            <i class="pe-7s-news-paper"></i>

            <p>Relatório</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Definicoeos")">
            <i class="pe-7s-config"></i>

            <p>Definições</p>
        </a>
    </li>
</ul>
<div class="pull-right ferramentas-usuario">
    <div class="identificacao">
        <span class="nome">Benevides Lecontes</span>
        <span class="tipo">Biólogo</span>
    </div>
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
        <img src="@Url.Content("~/Content/images/Generic_Profile.jpg")">
    </a>

    <div class="dropdown-menu">
        <a href="#">
            <img src="@Url.Content("~/Content/images/Generic_Profile.jpg")" alt="">
        </a>

        <div class="detail">
            <a href="#">
                <h5>Benevides Lecontes</h5>
            </a><a href="#" class="edit">Editar conta</a>
        </div>
        <div class="clear logout">
            <a class="btn btn-xs btn-block" href="#">
                <i class="fa fa-power-off"></i> Sair
            </a>
        </div>
    </div>
</div>

