﻿@{
    ViewBag.Title = "Home Page";
}

<div class="menu-lateral pull-left margin-top col-md-2">
    <h3 class="title">Painel</h3>
    <h6 class="titulo-alerta text-muted">Pacientes:</h6>

    <ul class="notice list-unstyled">
        <li>
            <a href="">
                Benevides Lecontes <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="col-md-10 col-xs-12 pull-right">
    <div class="content clear">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4 class="text-muted">
                        Total de agendamentos por dias de semana (ano,
                        mês,
                        semana)
                    </h4>
                </div>
                <div class="col-sm-6 col-xs-11 col-md-3 pull-right filtro-chart">
                    <div class="form-group">
                        <select id="list" name="provincia" class="selectpicker"
                                data-style="btn-info btn-fill btn-sm btn-block">
                            <option value="Esta semana" selected>Esta semana</option>
                            <option value="Este mês">Este Mês</option>
                            <option value="Este ano">Este Ano</option>
                        </select>
                    </div>
                </div>
                <div id="agend-periodo" class="charts"></div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 genders widget">
                <h4 class="text-muted">Distribuição Por Sexo</h4>

                <div class="pull-left margin-right">
                    <div class="total-wrapper">
                        <div id="canvas-holder">
                            <canvas id="chart-area"></canvas>
                        </div>
                        <div class="total text-info">
                            <i class="fa fa-male"></i> Homens: <span class="men-total"></span>
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="total-wrapper">
                        <div id="canvas-holder1">
                            <canvas id="chart-area1"></canvas>
                        </div>
                        <div class="total text-info">
                            <i class="fa fa-female"></i> Mulheres: <span class="women-total"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 procedimentos widget pull-right">
                <h4 class="text-muted">Consultas Pendentes/Realizadas (%)</h4>

                <div id="consulta-chart" class="charts"></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h4 class="text-muted">Estatísticas gerais</h4>

                <div class="label label-fill label-default total-stat">
                    <i class="pe-7s-users pull-left"></i>
                    <span class="title text-center">
                        Total de pacientes
                        <small class=" subtitle total-pacientes"></small>
                    </span>
                </div>
                <div class="label label-fill label-default total-stat">
                    <i class="pe-7s-date pull-left"></i>
                    <span class="title text-center">
                        Total Agendamentos
                        <small class="subtitle total-consultas"></small>
                    </span>
                </div>
                <div class="label label-fill label-default total-stat">
                    <i class="pe-7s-alarm pull-left"></i>
                    <span class="title text-center">
                        Duração Média Consulta
                        <small class="subtitle duracao-consulta">30<sub> min</sub></small>
                    </span>
                </div>
                <div class="label label-fill label-default total-stat">
                    <i class="pe-7s-graph1 pull-left"></i>
                    <span class="title text-center">
                        Novos Pacientes/Mês
                        <small class="subtitle novos-pacientes">3</small>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4 class="text-muted">Distribuição Etária</h4>

                <div id="dist-etaria" class="charts"></div>
            </div>
        </div>
    </div>
</div>
